.landing-button {
  height: 50px;
  width: 240px;
  border: solid 5px #ffcc1d;
  border-radius: 15px;
  background-color: white;
  box-shadow: gray 4px 4px 4px;
  cursor: pointer;
  text-align: center;
  transition: 300ms ease all;
  font-size: 1.2em;
  padding: 5px;
  margin-top: 30px;

  &:hover {
    box-shadow: gray 4px 4px 4px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}
