@import './mixin';

.loading-backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}

.loading-animation {
  height: 120px;
}

@include tablet {
  .loading-container {
    height: 90.3vh;
  }

  .loading-animation {
    height: 180px;
  }
}

@include desktop {
  .loading-container {
    height: 87.8vh;
  }

  .loading-animation {
    height: 220px;
  }
}
