@import '../variables';

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin ourColor {
  @media (color: #{$ourYellow}) {
    @content;
  }
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('../../fonts/NotoSansKR-Regular.eot?iefix') format('embedded-opentype');
  src: url('../../fonts/NotoSansKR-Regular.woff') format('woff');
  src: url('../../fonts/NotoSansKR-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
