.AddMenu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 15px;
}

.AddedMenu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #ffcc1d;
  background-color: whitesmoke;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 15px;
}

.AddMenu-img {
  -webkit-box-shadow: gray 2px 2px 2px;
          box-shadow: gray 2px 2px 2px;
  border-radius: 15px;
  width: 130px;
  height: 73.125px;
  margin: 10px 15px 10px 10px;
}

.AddStore-add-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.AddMenu-menu-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  width: 50%;
}

.AddMenu-menu-container {
  margin-bottom: 8px;
}

.AddMenu-menu-info-title {
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 3px;
}

.AddMenu-menu-text {
  font-size: 20px;
  opacity: 0.5;
}

.AddMenu-menu-img-input {
  font-size: 15px;
  overflow: hidden;
  padding: 3px;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;
  width: 70%;
  margin: 5px auto 10px 10px;
}

.AddMenu-menu-input {
  margin-bottom: 15px;
  width: 110px;
  -webkit-transition: 120ms ease all;
  transition: 120ms ease all;
  border-radius: 5px;
  padding: 3px;
}

.AddMenu-menu-input:focus {
  border: 2px solid #ffcc1d;
  outline: none;
  -webkit-box-shadow: gray 3px 3px 3px;
          box-shadow: gray 3px 3px 3px;
}

.AddMenu-menu-delete-button {
  width: 50%;
  margin: 5px 0 0 auto;
  -webkit-box-shadow: gray 2px 2px 2px;
          box-shadow: gray 2px 2px 2px;
  -webkit-transition: 120ms ease all;
  transition: 120ms ease all;
}

.AddMenu-menu-delete-button:hover {
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
  background-color: red;
  color: white;
}

.AddMenu-menu-delete-button:before, .AddMenu-menu-delete-button:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.AddMenu-menu-delete-button:hover:before, .AddMenu-menu-delete-button:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.AddMenu-menu-delete-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .AddMenu-add-img-container {
    width: 50%;
  }
  .AddMenu-img {
    width: 250px;
    height: 140.625px;
  }
  .AddMenu-menu-info-title {
    font-size: 20px;
  }
  .AddMenu-menu-input {
    height: 30px;
    width: 80%;
    font-size: 20px;
    padding: 5px;
  }
  .AddMenu-menu-text {
    font-size: 25px;
  }
  .AddMenu-menu-delete-button {
    margin: 5px 58px 0 auto;
    width: 100px;
  }
}

@media (min-width: 1024px) {
  .AddMenu-img {
    width: 310px;
    height: 174.375px;
  }
  .AddMenu-menu-info-title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .AddMenu-menu-input {
    height: 30px;
    width: 80%;
    font-size: 25px;
  }
  .AddMenu-menu-text {
    font-size: 28px;
  }
  .AddMenu-menu-delete-button {
    margin: 15px 64px 0 auto;
    width: 100px;
  }
}

.AddStore-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 10px 70px 10px;
}

.AddStore-store-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.AddStore-title {
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 10px;
}

.AddStore-store-img {
  -webkit-box-shadow: gray 3px 3px 3px 3px;
          box-shadow: gray 3px 3px 3px 3px;
  width: 250px;
  height: 140.625px;
  border-radius: 15px;
  margin: 0 auto 20px auto;
  display: block;
}

.AddStore-store-img-add-input {
  font-size: 15px;
  overflow: hidden;
  padding: 8px;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;
  width: 80%;
  margin: 15px auto 25px auto;
}

.AddStore-store-text {
  font-size: 20px;
  margin-bottom: 5px;
}

.AddStore-store-address {
  font-size: 18px;
  border: 2px solid;
  border-radius: 5px;
  width: 70%;
  margin-bottom: 15px;
  padding: 5px 0 5px 10px;
  opacity: 0.5;
}

.AddStore-store-info-input {
  font-size: 18px;
  border: 3px solid;
  border-radius: 5px;
  -webkit-transition: 100ms ease all;
  transition: 100ms ease all;
  height: 30px;
  margin-bottom: 15px;
  padding: 3px 0 3px 5px;
  background-color: white;
}

.AddStore-store-info-input:focus {
  border: 3px solid #ffcc1d;
  outline: none;
  -webkit-box-shadow: gray 3px 3px 3px;
          box-shadow: gray 3px 3px 3px;
  background-color: #fdfdfd;
}

.AddStore-add-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AddStore-store-description-input {
  font-size: 18px;
  border: 3px solid;
  border-radius: 5px;
  -webkit-transition: 100ms ease all;
  transition: 100ms ease all;
  margin-bottom: 15px;
  padding: 5px;
  text-align: start;
  resize: none;
  height: 100%;
  overflow: visible;
  text-overflow: ellipsis;
  min-height: 80px;
}

.AddStore-store-description-input:focus {
  border: 3px solid #ffcc1d;
  border-radius: 10px;
  outline: none;
  -webkit-box-shadow: gray 3px 3px 3px;
          box-shadow: gray 3px 3px 3px;
}

.AddStore-address-button {
  width: 80%;
  margin: 10px auto 15px auto;
  background-color: whitesmoke;
  -webkit-transition: 120ms ease all;
  transition: 120ms ease all;
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
  color: #ff7800;
}

.AddStore-address-button:hover {
  -webkit-box-shadow: gray 3px 3px 3px;
          box-shadow: gray 3px 3px 3px;
}

.AddStore-address-button:before, .AddStore-address-button:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.AddStore-address-button:hover:before, .AddStore-address-button:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.AddStore-address-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.AddStore-add-menu-button {
  display: block;
  margin: 15px auto 10px auto;
  width: 70%;
  -webkit-transition: 120ms ease all;
  transition: 120ms ease all;
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
}

.AddStore-add-menu-button:hover {
  -webkit-box-shadow: gray 3px 3px 3px;
          box-shadow: gray 3px 3px 3px;
}

.AddStore-add-menu-button:before, .AddStore-add-menu-button:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.AddStore-add-menu-button:hover:before, .AddStore-add-menu-button:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.AddStore-add-menu-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.AddStore-add-menu-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.AddStore-button {
  margin: 10px;
  -webkit-transition: 120ms ease all;
  transition: 120ms ease all;
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
}

.AddStore-button:hover {
  -webkit-box-shadow: gray 3px 3px 3px;
          box-shadow: gray 3px 3px 3px;
}

.AddStore-button:before, .AddStore-button:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.AddStore-button:hover:before, .AddStore-button:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.AddStore-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.daum-postcode-backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.daum-postcode-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 93%;
}

.daum-postcode-close {
  -webkit-transition: 120ms ease all;
  transition: 120ms ease all;
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
  width: 100%;
}

.daum-postcode-close:hover {
  -webkit-box-shadow: gray 3px 3px 3px;
          box-shadow: gray 3px 3px 3px;
}

.daum-postcode-close:before, .daum-postcode-close:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.daum-postcode-close:hover:before, .daum-postcode-close:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.daum-postcode-close:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .AddStore-container {
    margin-top: 80px;
  }
  .AddStore-title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .AddStore-store-img {
    width: 550px;
    height: 309.375px;
  }
  .AddStore-store-img-add-input {
    font-size: 20px;
    padding: 10px;
  }
  .AddStore-store-text {
    font-size: 25px;
  }
  .AddStore-store-address {
    font-size: 20px;
  }
  .AddStore-store-info-input {
    font-size: 22px;
    height: 35px;
  }
  .AddStore-store-description-input {
    font-size: 22px;
    min-height: 140px;
  }
  .AddStore-address-button {
    font-size: 20px;
    height: 40px;
  }
  .AddStore-add-menu-button {
    font-size: 20px;
    height: 40px;
  }
  .AddStore-button {
    font-size: 20px;
    height: 35px;
  }
  .daum-postcode-close {
    height: 40px;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .AddStore-container {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .AddStore-store-title-container {
    width: 50%;
    margin-right: 15px;
  }
  .AddStore-title {
    font-size: 35px;
  }
  .AddStore-store-img {
    width: 500px;
    height: 281.25px;
  }
  .AddStore-store-img-add-input {
    font-size: 25px;
    padding: 10px;
    height: 160px;
  }
  .AddStore-store-text {
    font-size: 30px;
  }
  .AddStore-store-address {
    font-size: 25px;
  }
  .AddStore-store-info-input {
    font-size: 25px;
    height: 38px;
  }
  .AddStore-store-description-input {
    font-size: 25px;
  }
  .AddStore-address-button {
    font-size: 23px;
    height: 40px;
  }
  .AddStore-add-menu-button {
    font-size: 25px;
    height: 40px;
  }
  .AddStore-button {
    font-size: 22px;
    height: 35px;
  }
  .daum-postcode-window {
    width: 50%;
  }
  .daum-postcode-close {
    height: 40px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=AddStore.css.map */