.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
  overflow-x: hidden;
}

.landing-catchphrase {
  text-align: center;
  margin-top: 30px;
}

.landing-catchphrase-02 {
  text-align: center;
  margin-bottom: 40px;
}

.landing-button {
  padding-top: 3px;
  width: 230px;
  margin-top: 4px;
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
  border-radius: 7px;
  -webkit-transition: 120ms ease;
  transition: 120ms ease;
  background-color: white;
  cursor: pointer;
}

.landing-button:hover {
  -webkit-box-shadow: gray 6px 6px 6px;
          box-shadow: gray 6px 6px 6px;
}

.landing-button:before, .landing-button:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.landing-button:hover:before, .landing-button:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.landing-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.landing-img,
.landing-img-02,
.landing-img-03 {
  height: 230px;
}

.landing-tutorial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96%;
  height: 300px;
  margin: 15px;
}

.landing-tutorial-gif {
  margin: 10px;
  width: 48%;
  height: 90%;
  border: 3px solid #ffcc1d;
}

.landing-tutorial-catchphrase-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  margin: 10px;
}

.landing-tutorial-catchphrase {
  font-size: 18px;
  margin-bottom: 10px;
}

.landing-tutorial-catchphrase-sub {
  font-size: 10px;
}

.landing-review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 96%;
  height: 300px;
  border: solid 1px green;
  overflow: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.landing-review-post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  margin: 10px;
  border: orange 1px solid;
}

.landing-review-post-img {
  height: 60%;
  width: 90%;
  margin: 10px;
  border: hotpink solid 1px;
}

.landing-review-post-contents {
  margin: 0 10px 10px 10px;
}

@media (min-width: 300px) and (max-width: 757px) {
  .landing-catchphrase,
  .landing-catchphrase-02 {
    font-size: 25px;
  }
  .landing-logo {
    height: 230px;
    margin-top: 30px;
  }
  .landing-img {
    margin: -55px -270px 10px 0;
    z-index: -1;
  }
  .landing-img-02 {
    margin: -80px 300px 10px 0;
  }
  .landing-img-03 {
    margin: -130px -230px 10px 0;
  }
  .landing-review-container {
    margin-bottom: 40px;
  }
}

@media (min-width: 758px) and (max-width: 1023px) {
  .landing-catchphrase,
  .landing-catchphrase-02 {
    font-size: 50px;
  }
  .landing-logo {
    height: 260px;
    margin-top: 40px;
  }
  .landing-img,
  .landing-img-02,
  .landing-img-03 {
    height: 280px;
  }
  .landing-img {
    margin: -125px -420px 10px 0;
    z-index: -1;
  }
  .landing-img-02 {
    margin: -150px 470px 10px 0;
  }
  .landing-img-03 {
    margin: -200px -80px 10px 0;
  }
  .landing-button {
    height: 40px;
    font-size: 20px;
  }
  .landing-tutorial-catchphrase {
    font-size: 30px;
  }
  .landing-tutorial-catchphrase-sub {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .landing-catchphrase,
  .landing-catchphrase-02 {
    font-size: 60px;
  }
  .landing-logo {
    height: 300px;
    margin-top: 50px;
  }
  .landing-img,
  .landing-img-02,
  .landing-img-03 {
    height: 420px;
  }
  .landing-img {
    margin: -25em -55em 1em 0;
    z-index: -1;
  }
  .landing-img-02 {
    margin: 0 60em 1em 0;
  }
  .landing-img-03 {
    margin: -23em -40em 1em 0;
    z-index: -1;
  }
  .landing-button {
    height: 40px;
    font-size: 25px;
  }
  .landing-tutorial-gif {
    margin-left: 1em;
    max-width: 530px;
  }
  .landing-tutorial-catchphrase {
    font-size: 45px;
  }
  .landing-tutorial-catchphrase-sub {
    font-size: 25px;
  }
}
/*# sourceMappingURL=Landing.css.map */