@import '../mixin/mixin';

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 100px 0;
}

.landing-introduce-ani-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-introduce-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-catchphrase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-logo-img {
  width: 100px;
  margin-bottom: 10px;
}

.landing-catchphrase {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  width: 200px;
  margin-bottom: 20px;
  line-height: 40px;
}

.landing-catchphrase-sub {
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 30px;
}

.landing-start-button,
.landing-start-button-bottom {
  background-color: #ffcc1d;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  height: 40px;
  border: none;
  box-shadow: gray 3px 3px 3px;
  margin-bottom: 10px;
  transition: 140ms ease all;

  &:hover {
    box-shadow: gray 6px 6px 6px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

.landing-ani {
  margin-bottom: -10px;
}

.landing-tutorials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  background-color: #f3f5f7;
  padding: 10px;
  width: 100%;
}

.landing-tutorials-container-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  padding: 10px;
}

.landing-tutorials-info-title,
.landing-tutorials-info-title-left {
  font-size: 25px;
}

.landing-tutorials-info-gif,
.landing-tutorials-info-gif-left {
  width: 270px;
  height: 151.87px;
  margin: 15px;
  box-shadow: gray 3px 3px 3px 3px;
  border-radius: 5px;
}

.landing-tutorials-info-text,
.landing-tutorials-info-text-left {
  line-height: 30px;
  width: 600px;
  font-size: 15px;
  opacity: 0.5;
}

@include tablet {
  .landing-logo-img {
    width: 250px;
    margin-bottom: 30px;
  }

  .landing-catchphrase {
    font-size: 35px;
    width: 300px;
    width: 100%;
    margin-bottom: 25px;
  }

  .landing-catchphrase-sub {
    font-size: 25px;
  }

  .landing-start-button,
  .landing-start-button-bottom {
    font-size: 30px;
    width: 80%;
    height: 50px;
    margin-bottom: 30px;
  }

  .landing-tutorials-info-title,
  .landing-tutorials-info-title-left {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .landing-tutorials-info-gif,
  .landing-tutorials-info-gif-left {
    width: 730px;
    height: 410.625px;
  }

  .landing-tutorials-info-text,
  .landing-tutorials-info-text-left {
    font-size: 20px;
  }
}

@include desktop {
  .landing-introduce-ani-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 11.1%;
  }

  .landing-catchphrase-container {
    margin: 10% 5% 0 10%;
    align-items: flex-start;
    width: 40%;
  }

  .landing-logo-img {
    width: 230px;
    margin-bottom: 30px;
  }

  .landing-catchphrase {
    text-align: start;
    width: 100%;
    font-size: 35px;
  }

  .landing-catchphrase-sub {
    text-align: start;
    width: 100%;
    font-size: 25px;
  }

  .landing-start-button {
    font-size: 35px;
    width: 100%;
    height: 75px;
    padding: 0;
    margin: 3% 0 0 0;
  }

  .landing-ani {
    width: 50%;
  }

  .landing-tutorials-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid whitesmoke;
  }

  .landing-tutorials-container-left {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid whitesmoke;
  }

  .landing-tutorial-info-text-container {
    text-align: start;
  }

  .landing-tutorial-info-text-container-left {
    text-align: end;
  }

  .landing-tutorials-info-title,
  .landing-tutorials-info-title-left {
    margin-bottom: 30px;
    font-size: 35px;
  }

  .landing-tutorials-info-text,
  .landing-tutorials-info-text-left {
    font-size: 25px;
  }

  .landing-tutorials-info-gif,
  .landing-tutorials-info-gif-left {
    width: 900px;
    height: 506.25px;
    margin: 50px 0 50px 0;
  }

  .landing-start-button-bottom {
    font-size: 35px;
    width: 50%;
    height: 90px;
    padding: 0;
    margin-top: 30px;
  }
}
