.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 100px 0;
  width: 100%;
}

.landing-introduce-ani-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-introduce-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-catchphrase-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-logo-img {
  width: 90px;
  margin-bottom: 5px;
}

.landing-catchphrase {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  width: 170px;
  margin-bottom: 10px;
  line-height: 30px;
}

.landing-catchphrase-sub {
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 20px;
  opacity: 0.5;
}

.landing-start-button,
.landing-start-button-bottom {
  background-color: #ffcc1d;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  height: 30px;
  border: none;
  -webkit-box-shadow: gray 3px 3px 3px;
          box-shadow: gray 3px 3px 3px;
  margin: 10px 0 4px 0;
  -webkit-transition: 140ms ease all;
  transition: 140ms ease all;
}

.landing-start-button:hover,
.landing-start-button-bottom:hover {
  -webkit-box-shadow: gray 6px 6px 6px;
          box-shadow: gray 6px 6px 6px;
}

.landing-start-button:before, .landing-start-button:after,
.landing-start-button-bottom:before,
.landing-start-button-bottom:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.landing-start-button:hover:before, .landing-start-button:hover:after,
.landing-start-button-bottom:hover:before,
.landing-start-button-bottom:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.landing-start-button:active,
.landing-start-button-bottom:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.landing-ani {
  margin-bottom: 0px;
}

.landing-tutorials-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px;
  width: 80%;
}

.landing-tutorials-container-left {
  background-color: #f3f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px;
  width: 80%;
}

.landing-tutorial-info-text-container-right,
.landing-tutorial-info-text-container-left {
  width: 100%;
  line-height: 30px;
  margin: 30px;
}

.landing-tutorials-info-title-right,
.landing-tutorials-info-title-left {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 15px;
}

.landing-tutorials-info-gif-right,
.landing-tutorials-info-gif-left {
  width: 270px;
  height: 151.87px;
  margin: 15px;
  -webkit-box-shadow: gray 3px 3px 3px 3px;
          box-shadow: gray 3px 3px 3px 3px;
  border-radius: 5px;
}

.landing-tutorials-info-text-right,
.landing-tutorials-info-text-left {
  line-height: 25px;
  font-size: 15px;
  opacity: 0.5;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .landing-logo-img {
    width: 250px;
    margin-bottom: 30px;
  }
  .landing-catchphrase {
    font-size: 35px;
    width: 300px;
    width: 100%;
    margin-bottom: 25px;
  }
  .landing-catchphrase-sub {
    font-size: 25px;
    width: 400px;
    line-height: 30px;
  }
  .landing-start-button,
  .landing-start-button-bottom {
    font-size: 30px;
    width: 80%;
    height: 50px;
    margin-bottom: 8px;
  }
  .landing-tutorials-container-right,
  .landing-tutorials-container-left {
    width: 100%;
  }
  .landing-tutorials-info-title-right,
  .landing-tutorials-info-title-left {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .landing-tutorials-info-gif-right,
  .landing-tutorials-info-gif-left {
    width: 730px;
    height: 410.625px;
  }
  .landing-tutorials-info-text-right,
  .landing-tutorials-info-text-left {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .landing-container {
    width: 100%;
    padding: 0;
  }
  .landing-introduce-ani-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15%;
  }
  .landing-catchphrase-container {
    margin: 185px 0 0 25%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .landing-logo-img {
    width: 230px;
    margin-bottom: 30px;
  }
  .landing-catchphrase {
    text-align: start;
    width: 540px;
    font-size: 40px;
    line-height: 42px;
  }
  .landing-catchphrase-sub {
    text-align: start;
    font-size: 25px;
    line-height: 30px;
  }
  .landing-start-button {
    font-size: 30px;
    width: 40%;
    height: 42px;
    padding: 0;
  }
  .landing-tutorials-container-right {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0;
    border-bottom: 1px solid whitesmoke;
  }
  .landing-tutorial-info-text-container-right {
    text-align: start;
    width: 30%;
  }
  .landing-tutorials-container-left {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0;
    border-bottom: 1px solid whitesmoke;
  }
  .landing-tutorial-info-text-container-left {
    text-align: end;
    width: 30%;
  }
  .landing-tutorials-info-title-right,
  .landing-tutorials-info-title-left {
    margin-bottom: 30px;
    font-size: 35px;
  }
  .landing-tutorials-info-text-right,
  .landing-tutorials-info-text-left {
    font-size: 25px;
  }
  .landing-tutorials-info-gif-right,
  .landing-tutorials-info-gif-left {
    width: 600px;
    height: 337.5px;
    margin: 50px;
  }
  .landing-start-button-bottom {
    font-size: 35px;
    width: 50%;
    height: 90px;
    padding: 0;
    margin: 50px 0;
  }
}
/*# sourceMappingURL=Landing.css.map */