@import '../mixin/mixin';

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 100px 0;
  width: 100%;
}

.landing-introduce-ani-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-introduce-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-catchphrase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-logo-img {
  width: 90px;
  margin-bottom: 5px;
}

.landing-catchphrase {
  font-size: 20px;
  text-align: center;
  width: 170px;
  margin-bottom: 10px;
  line-height: 30px;
  font-family: Pretendard-ExtraBold;
}

.landing-catchphrase-sub {
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 20px;
  opacity: 0.5;
  font-family: Pretendard-Medium;
}

.landing-start-button,
.landing-start-button-bottom {
  background-color: #ffcc1d;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  height: 30px;
  border: none;
  box-shadow: gray 3px 3px 3px;
  margin: 10px 0 4px 0;
  transition: 140ms ease all;

  &:hover {
    box-shadow: gray 6px 6px 6px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

.landing-ani {
  margin-bottom: 50px;
}

.landing-tutorials-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  width: 80%;
  background-color: #ffe699;
  box-shadow: gray 3px 3px 3px;
}

.landing-tutorials-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  width: 80%;
}

.landing-tutorial-info-text-container-right,
.landing-tutorial-info-text-container-left {
  width: 100%;
  line-height: 30px;
  margin: 30px;
}

.landing-tutorials-info-title-right,
.landing-tutorials-info-title-left {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 15px;
  font-family: Pretendard-ExtraBold;
}

.landing-tutorials-info-gif-right,
.landing-tutorials-info-gif-left {
  width: 270px;
  height: 151.87px;
  margin: 15px;
  box-shadow: gray 3px 3px 3px 3px;
  border-radius: 5px;
}

.landing-tutorials-info-text-right,
.landing-tutorials-info-text-left {
  line-height: 25px;
  font-size: 15px;
  opacity: 0.5;
  font-family: Pretendard-Medium;
}

@include tablet {
  .landing-logo-img {
    width: 250px;
    margin-top: 45px;
  }

  .landing-catchphrase {
    font-size: 35px;
    width: 300px;
    width: 100%;
    margin-bottom: 25px;
    line-height: 35px;
  }

  .landing-catchphrase-sub {
    font-size: 25px;
    width: 400px;
    line-height: 30px;
  }

  .landing-start-button,
  .landing-start-button-bottom {
    font-size: 30px;
    width: 80%;
    height: 50px;
    margin-bottom: 8px;
  }

  .landing-ani {
    margin-bottom: 100px;
  }

  .landing-tutorials-container-right,
  .landing-tutorials-container-left {
    width: 100%;
  }

  .landing-tutorials-info-title-right,
  .landing-tutorials-info-title-left {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .landing-tutorials-info-gif-right,
  .landing-tutorials-info-gif-left {
    width: 730px;
    height: 410.625px;
  }

  .landing-tutorials-info-text-right,
  .landing-tutorials-info-text-left {
    font-size: 20px;
  }
}

@include desktop {
  .landing-container {
    width: 100%;
    padding: 0;
  }

  .landing-introduce-ani-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15%;
  }

  .landing-catchphrase-container {
    margin: 220px 0 0 16%;
    align-items: flex-start;
  }

  .landing-logo-img {
    width: 230px;
    margin-top: 26px;
    margin-bottom: 30px;
    z-index: 999;
  }

  .landing-catchphrase {
    text-align: start;
    width: 740px;
    font-size: 50px;
    line-height: 60px;
    z-index: 999;
  }

  .landing-catchphrase-sub {
    text-align: start;
    line-height: 30px;
    font-size: 25px;
    z-index: 999;
  }

  .landing-start-button {
    font-size: 30px;
    width: 40%;
    height: 45px;
    padding: 0;
    z-index: 999;
  }

  .landing-ani {
    margin-top: 80px;
  }

  .landing-tutorials-container-right {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
    border-bottom: 1px solid whitesmoke;
  }

  .landing-tutorial-info-text-container-right {
    text-align: start;
    width: 30%;
  }

  .landing-tutorials-container-left {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
  }

  .landing-tutorial-info-text-container-left {
    text-align: end;
    width: 30%;
  }

  .landing-tutorials-info-title-right,
  .landing-tutorials-info-title-left {
    margin-bottom: 30px;
    font-size: 35px;
  }

  .landing-tutorials-info-text-right,
  .landing-tutorials-info-text-left {
    font-size: 25px;
  }

  .landing-tutorials-info-gif-right,
  .landing-tutorials-info-gif-left {
    width: 600px;
    height: 337.5px;
    margin: 50px;
  }

  .landing-start-button-bottom {
    font-size: 35px;
    width: 50%;
    height: 90px;
    margin: 50px 0;
  }
}
