@import '../mixin/mixin';
@import '../mixin/landing-button';

* {
}

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.landing-catchphrase {
  text-align: center;
  margin-top: 30px;
}

.landing-catchphrase-02 {
  text-align: center;
  margin-bottom: 40px;
}

.landing-img,
.landing-img-02,
.landing-img-03 {
  height: 230px;
}

.landing-tutorial-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 300px;
  margin: 15px;
}

.landing-tutorial-gif {
  margin: 10px;
  width: 48%;
  height: 90%;
  border: solid 1px;
}

.landing-tutorial-catchphrase-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px;
}

.landing-tutorial-catchphrase {
  font-size: 25px;
  margin-bottom: 10px;
}

.landing-tutorial-catchphrase-sub {
  font-size: 15px;
}

.landing-review-container {
  display: flex;
  justify-content: space-around;
  width: 96%;
  height: 300px;
  border: solid 1px green;
}
.landing-review-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 10px;
  border: orange 1px solid;
}

.landing-review-post-img {
  height: 60%;
  width: 90%;
  margin: 10px;
  border: hotpink solid 1px;
}

.landing-review-post-contents {
  margin: 0 10px 10px 10px;
}

// 반응형
@include mobile {
  .landing-catchphrase,
  .landing-catchphrase-02 {
    font-size: 30px;
  }
  .landing-logo {
    height: 230px;
    margin-top: 30px;
  }
  .landing-img {
    margin: -55px -270px 10px 0;
    z-index: -1;
  }
  .landing-img-02 {
    margin: -80px 300px 10px 0;
  }
  .landing-img-03 {
    margin: -130px -230px 10px 0;
  }
}

@include tablet {
  .landing-catchphrase,
  .landing-catchphrase-02 {
    font-size: 50px;
  }
  .landing-logo {
    height: 260px;
    margin-top: 40px;
  }
  .landing-img,
  .landing-img-02,
  .landing-img-03 {
    height: 280px;
  }
  .landing-img {
    margin: -125px -420px 10px 0;
    z-index: -1;
  }
  .landing-img-02 {
    margin: -150px 470px 10px 0;
  }
  .landing-img-03 {
    margin: -200px -80px 10px 0;
  }

  .landing-tutorial-catchphrase {
    font-size: 30px;
  }
  .landing-tutorial-catchphrase-sub {
    font-size: 20px;
  }
}

@include desktop {
  .landing-catchphrase,
  .landing-catchphrase-02 {
    font-size: 60px;
  }
  .landing-logo {
    height: 300px;
    margin-top: 50px;
  }
  .landing-img,
  .landing-img-02,
  .landing-img-03 {
    height: 420px;
  }
  .landing-img {
    margin: -25em -55em 1em 0;
    z-index: -1;
  }
  .landing-img-02 {
    margin: 0 60em 1em 0;
  }
  .landing-img-03 {
    margin: -23em -40em 1em 0;
    z-index: -1;
  }

  .landing-tutorial-gif {
    margin-left: 1em;
    max-width: 530px;
  }
  .landing-tutorial-catchphrase {
    font-size: 45px;
  }
  .landing-tutorial-catchphrase-sub {
    font-size: 25px;
  }
}
