@import '../mixin/mixin';
@import '../components/Management/ManagementMenuBox';
@import '../components/Management/ManagementMptyAni';

.management-page {
  margin: 15px 15px 70px 15px;
}

.management-container {
  display: flex;
  flex-direction: column;
}

.management-store-info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  border: 3px solid #ffcc1d;
  padding: 5px;
}

.management-title {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.management-store-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.management-store-category-icon {
  height: 25px;
  margin-right: 10px;
}

.management-store-title {
  font-size: 20px;
  font-weight: bolder;
  margin-right: 5px;
}

.management-store-img {
  height: 120px;
  width: 200px;
  margin: 10px auto 15px auto;
  border-radius: 15px;
  box-shadow: gray 4px 4px 4px 4px;
}

.management-store-detail-info-container {
  display: flex;
  flex-direction: column;
}

.management-detail-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.management-detail-icon {
  height: 25px;
  margin-right: 10px;
}

.management-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.management-button {
  width: 100px;
  margin: 0 15px 0 0;
}

.management-delete-button {
  width: 100px;
  margin: 0;
  transition: 120ms ease all;

  &:hover {
    background-color: red;
    color: white;
  }
}

@include tablet {
  .management-page {
    margin-top: 70px;
  }

  .management-title {
    font-size: 30px;
  }

  .management-store-info-container {
    margin-bottom: 15px;
    padding: 15px;
  }

  .management-store-category-icon {
    height: 30px;
  }

  .management-store-title {
    font-size: 25px;
  }

  .management-store-category {
    font-size: 18px;
  }

  .management-store-img {
    height: 300px;
    width: 450px;
  }

  .management-store-detail-info-container {
    margin-top: 10px;
  }

  .management-detail-info {
    margin-bottom: 20px;
  }

  .management-detail-icon {
    height: 35px;
    margin-right: 15px;
  }

  .management-detail-text {
    font-size: 25px;
  }

  .management-button {
    width: 110px;
    height: 35px;
    font-size: 20px;
  }

  .management-delete-button {
    width: 110px;
    height: 35px;
    font-size: 20px;
  }
}

@include desktop {
  .management-page {
    margin: 70px 30px 0 30px;
    display: flex;
    justify-content: flex-start;
    min-height: 80.6vh;
  }

  .management-container {
    width: 50vw;
  }

  .management-store-info-container {
    padding: 30px;
    min-height: 70%;
    margin-right: 30px;
    width: 45vw;
  }

  .management-store-category-icon {
    height: 35px;
  }

  .management-store-title {
    font-size: 25px;
  }

  .management-store-img {
    width: 30vw;
    height: 320px;
  }

  .management-detail-icon {
    height: 35px;
  }
  .management-detail-text {
    font-size: 20px;
  }

  .management-store-menu-container {
    width: 80%;
    margin-right: 30px;
  }

  .management-button,
  .management-delete-button {
    width: 120px;
    height: 35px;
    font-size: 20px;
  }
}
