@import '../../styles/components/Map/Search';
@import '../components/Underbar/Underbar';
@import '../components/Map/CustomOverlay';
@import '../components/StoreInfo/LoginAlert';

.map-container {
  display: inline;
  width: 100%;
  height: 100%;
  z-index: -100;
}
