.donationbox-container {
  border-bottom: 2px solid grey;
  font-size: 14px;
  padding: 0 5px 0 5px;
  margin-bottom: 10px;
  word-break: keep-all;
}

.donationbox-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 5px;
}

.donationbox-category-icon {
  width: 30px;
  margin-right: 5px;
}

.donationbox-store-name {
  margin-right: 100px;
}

.donationbox-createdat-icon {
  width: 15px;
  margin-right: 5px;
}

.donationbox-address-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.donationbox-address-icon {
  width: 13px;
  margin-right: 5px;
}

.donationbox-address-text {
  padding-top: 5px;
}

.donationbox-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.donationbox-food-image {
  width: 150px;
  margin-left: 10px;
  margin-right: 20px;
}

.donationbox-food-info-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.donationbox-food-name {
  margin-bottom: 3px;
}

.donationbox-food-price {
  margin-bottom: 3px;
}

.donationbox-dish-count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.donationbox-dish-icon {
  width: 20px;
  padding-bottom: 4px;
  margin-right: 5px;
}

.mydonation-container {
  padding: 10px;
  font-size: 14px;
  word-break: keep-all;
}

.mydonation-ranking-title {
  margin-bottom: 5px;
  font-size: 20px;
}

.mydonation-ranking-container {
  border: 3px solid #ffcc1d;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.mydonation-money-ranking {
  margin-top: 10px;
  font-weight: bold;
}

.mydonation-money-image {
  width: 15em;
}

.mydonation-history-title {
  margin-top: 15px;
  font-size: 20px;
}

.mydonation-history-container {
  margin: 5px 0 70px 0;
  border: 3px solid #ffcc1d;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .mydonation-container {
    margin-top: 60px;
    min-height: 82.5vh;
  }
  .mydonation-ranking-title {
    font-size: 25px;
  }
  .mydonation-history-container {
    margin-bottom: 10px;
  }
  .mydonation-history-title {
    font-size: 25px;
  }
  .mydonation-ranking-text-container {
    margin-left: 10px;
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .mydonation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 60px;
    min-height: 79.5vh;
    font-size: 23px;
  }
  .mydonation-left-container {
    width: 50%;
    margin-right: 30px;
  }
  .mydonation-ranking-title {
    font-size: 25px;
  }
  .mydonation-ranking-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mydonation-ranking-text-container {
    margin-top: 200px;
  }
  .mydonation-money-total {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .mydonation-money-ranking {
    font-size: 35px;
  }
  .mydonation-money-image {
    display: block;
    height: 25em;
    width: 25em;
    margin: 0 0 0 auto;
  }
  .mydonation-right-container {
    width: 50%;
    margin-top: -15px;
  }
  .mydonation-history-container {
    margin-bottom: 10px;
  }
  .mydonation-history-title {
    font-size: 25px;
  }
  .mydonation-ranking-text-container {
    margin-left: 10px;
    font-size: 25px;
  }
}
/*# sourceMappingURL=MyDonation.css.map */