@import '../mixin/mixin';
@import '../components/Mypage/Review';
@import '../components/Mypage/EmptyReviewAni';
@import '../components/Mypage/PhoneVerificationModal';

.mypage-container {
  padding: 10px;
  font-size: 14px;
  word-break: keep-all;
  min-height: 81vh;
}

.mypage-title {
  margin-bottom: 5px;
  font-size: 20px;
}

.mypage-myinfo-container {
  display: flex;
  flex-direction: row;
  border: 3px solid #ffcc1d;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.mypage-myinfo-nickname {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.mypage-fix-myinfo-not-toggle-button {
  font-size: 14px;
  opacity: 0.5;
}

.mypage-fix-myinfo-toggle-button {
  margin: 5px 0 5px 0;
  opacity: 0.5;
  cursor: pointer;
  width: fit-content;
}

.mypage-fix-toggle-container {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
}

.fix-toggle-title {
  font-size: 18px;
}

.fix-toggle-input {
  font-size: 13px;
  border: 2px solid;
  border-radius: 5px;
  transition: 100ms ease all;
  height: 20px;
  padding: 2px 0 2px 0;
  margin-top: 4px;
  margin-bottom: 5px;

  &:focus {
    border: 2px solid #ffcc1d;
    outline: none;
  }
}

.fix-toggle-title {
  margin-top: 10px;
}

.fix-toggle-button {
  width: 150px;
}

.fix-toggle-validation-message {
  margin: 5px;
  font-size: 12px;
  color: gray;
}

.mypage-myinfo-email {
  margin: 15px 0 10px 0;
}

.mypage-phone-verification-success-container {
  display: flex;
  align-items: center;
}

.mypage-phone-verification-success-text {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: default;
  color: grey;
}

.mypage-phone-verification-check {
  width: 15px;
  margin-left: 5px;
}

.mypage-phone-verification-failure-container {
  display: flex;
  align-items: center;
}
.mypage-phone-verification-button {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  color: grey;
}

.mypage-phone-verification-not-check {
  width: 15px;
  margin-left: 5px;
}

.mypage-myinfo-deco-image {
  width: 150px;
  margin-left: 100px;
}
.mypage-review-container {
  display: flex;
  flex-direction: column;
  border: 3px solid #ffcc1d;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
}

.mypage-withdrawal-button {
  padding-top: 3px;
  width: 100px;
  margin-top: 4px;
  box-shadow: gray 4px 4px 4px;
  border-radius: 7px;
  transition: 120ms ease;
  background-color: white;
  cursor: pointer;

  &:hover {
    box-shadow: gray 6px 6px 6px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

@include mobile {
  .mypage-fix-toggle-container {
    display: flex;
    flex-direction: column;
  }
  .mypage-review-container {
    margin-bottom: 60px;
  }
}

@include tablet {
  .mypage-container {
    margin-top: 80px;
    font-size: 20px;
  }

  .mypage-title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .mypage-myinfo-nickname {
    font-size: 25px;
  }

  .mypage-fix-myinfo-toggle-button {
    font-size: 18px;
  }

  .fix-toggle-input {
    width: 180px;
    height: 30px;
    margin-right: 10px;
  }

  .mypage-myinfo-email {
    font-size: 25px;
  }

  .fix-toggle-validation-message {
    font-size: 15px;
  }

  .mypage-withdrawal-button {
    width: 130px;
    height: 35px;
  }
  .mypage-myinfo-deco-image {
    width: 150px;
    margin-left: 100px;
  }
}
@include desktop {
  .mypage-container {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    min-height: 76vh;
    font-size: 23px;
  }

  .mypage-left-container {
    width: 50%;
    margin-right: 30px;
  }

  .mypage-right-container {
    width: 50%;
  }

  .mypage-myinfo-container {
    height: 690px;
    overflow: auto;
    padding-left: 25px;
  }

  .mypage-myinfo-nickname {
    margin-top: 20px;
  }

  .mypage-title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .mypage-myinfo-nickname {
    font-size: 25px;
  }

  .fix-toggle-input {
    width: 180px;
    height: 30px;
    font-size: 20px;
    margin-right: 10px;
  }

  .mypage-myinfo-email {
    font-size: 25px;
  }

  .fix-toggle-validation-message {
    font-size: 15px;
  }

  .mypage-withdrawal-button {
    width: 150px;
    height: 35px;
    font-size: 22px;
  }

  .mypage-review-container {
    height: 710px;
    overflow: auto;
  }
}
