@import '../mixin/mixin';
@import '../components/ShareCart/SharecartItem';
@import '../components/StoreInfo/EmptyCartAni';

.sharecart-container {
  min-height: 72.8vh;
}

.sharecart-title {
  font-size: 20px;
  font-weight: bolder;
  margin: 15px 0 5px 5px;
}

.sharecart-allcheck-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sharecart-allcheck-input {
  cursor: pointer;
}

.sharecart-order-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}
.sharecart-order-text {
  font-size: 15;
}
.sharecart-order-count-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
}
.sharecount-count-text {
  font-size: 13px;
}
.sharecart-submit-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 50px 15px 50px;
}

.empty-sharecart-button {
  width: 100px;
  height: 40px;
}

.sharecart-button {
  padding-top: 3px;
  width: 70px;
  margin-top: 4px;
  box-shadow: gray 4px 4px 4px;
  border-radius: 7px;
  transition: 120ms ease;
  background-color: white;
  cursor: pointer;

  &:hover {
    box-shadow: gray 6px 6px 6px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

@include tablet {
  .sharecart-container {
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 80px;
    min-height: 74.6vh;
  }
  .sharecart-order-text {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .sharecart-order-count-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
  }
  .sharecount-count-text {
    font-size: 20px;
  }
  .sharecart-submit-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 30px 150px;
  }

  .sharecart-button {
    width: 120px;
    height: 40px;
    font-size: 20px;
  }
}

@include desktop {
  .sharecart-container {
    min-height: 71.2vh;
  }

  .sharecart-container {
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 80px;
  }

  .sharecart-order-text {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .sharecart-order-count-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
  }
  .sharecount-count-text {
    font-size: 20px;
  }
  .sharecart-submit-button-container {
    margin: 30px 150px 30px 150px;
  }

  .sharecart-button {
    width: 130px;
    height: 40px;
    font-size: 23px;
  }
}
