@import '../mixin/mixin';
@import '../components/ShareCart/SharecartItem';
@import '../components/StoreInfo/EmptyCartAni';

.sharecart-container {
  margin: 15px;
}

.sharecart-title {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.sharecart-order-count-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.sharecart-submit-button-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.sharecart-button {
  padding-top: 3px;
  width: 70px;
  margin-top: 4px;
  box-shadow: gray 4px 4px 4px;
  border-radius: 7px;
  transition: 120ms ease;
  background-color: white;
  cursor: pointer;

  &:hover {
    box-shadow: gray 6px 6px 6px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

@include tablet {
  .sharecart-container {
    margin-top: 70px;
    min-height: 82vh;
  }

  .sharecart-title {
    font-size: 25px;
  }

  .sharecart-order-info-container {
    margin: 30px 0 30px 0;
  }

  .sharecart-order-count-container {
    justify-content: flex-start;
    margin-left: 57%;
  }

  .sharecount-count-text {
    font-size: 25px;
    margin-right: 10%;
    width: 200px;
  }

  .sharecount-count-number {
    font-size: 25px;
  }

  .sharecart-button {
    width: 120px;
    height: 35px;
    font-size: 18px;
  }
}

@include desktop {
  .sharecart-container {
    margin-top: 70px;
    min-height: 79vh;
  }

  .sharecart-title {
    font-size: 25px;
  }

  .sharecart-order-info-container {
    margin: 30px 0 30px 0;
  }

  .sharecart-order-count-container {
    justify-content: flex-start;
    margin-left: 83%;
  }

  .sharecount-count-text {
    font-size: 25px;
    margin-right: 10%;
    width: 200px;
  }

  .sharecount-count-number {
    font-size: 25px;
  }

  .sharecart-button {
    width: 120px;
    height: 35px;
    font-size: 18px;
  }
}
