.sharecart-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #ffcc1d;
  margin: 10px;
  height: 150px;
}

.sharecart-item-img {
  height: 100px;
  max-width: 150px;
  border-radius: 30px;
  -webkit-box-shadow: gray 3px 3px 3px;
          box-shadow: gray 3px 3px 3px;
  margin: 15px;
}

.sharecart-item-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.sharecart-item-name {
  font-size: 14px;
  font-weight: bolder;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sharecart-item-price {
  font-size: 12px;
  margin-top: 3px;
}

.sharecart-item-count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sharecart-plus-minus-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px 10px 45px 0;
}

.fa-plus,
.fa-minus {
  font-size: 15px;
  color: #ffcc1d;
}

.fa-plus:hover,
.fa-minus:hover {
  cursor: pointer;
  font-size: 3px solid #ffcc1d;
  text-shadow: 1px 1px 1px gray;
  -webkit-transition: ease all 200ms;
  transition: ease all 200ms;
}

.delete-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sharecart-delete-button {
  font-size: 11px;
  width: 45px;
  height: 25px;
  margin: 0 20px 0 10px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .sharecart-item-container {
    height: 250px;
  }
  .sharecart-item-img {
    height: 180px;
    max-width: 260px;
  }
  .sharecart-item-name {
    font-size: 20px;
  }
  .sharecart-item-price {
    font-size: 18px;
  }
  .sharecart-plus-minus-container {
    margin-right: 30px;
  }
  .shartcart-cart-number,
  .fa-plus,
  .fa-minus {
    font-size: 30px;
    margin: 5px;
  }
  .sharecart-delete-button {
    width: 80px;
    height: 30px;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .sharecart-item-container {
    height: 300px;
  }
  .sharecart-item-img {
    height: 220px;
    max-width: 310px;
  }
  .sharecart-item-name {
    font-size: 30px;
  }
  .sharecart-item-price {
    font-size: 22px;
  }
  .sharecart-plus-minus-container {
    margin-right: 50px;
  }
  .shartcart-cart-number,
  .fa-plus,
  .fa-minus {
    font-size: 40px;
    margin: 15px;
  }
  .sharecart-delete-button {
    width: 100px;
    height: 35px;
    font-size: 25px;
    padding-top: 3px;
  }
}

.sharecart-container {
  min-height: 73.2vh;
}

.sharecart-title {
  font-size: 20px;
  font-weight: bolder;
  margin: 15px 0 5px 5px;
}

.sharecart-allcheck-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sharecart-allcheck-input {
  cursor: pointer;
}

.sharecart-order-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 10px;
}

.sharecart-order-text {
  font-size: 15;
}

.sharecart-order-count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 5px;
}

.sharecount-count-text {
  font-size: 13px;
}

.sharecart-submit-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 50px 15px 50px;
}

.sharecart-button-donation {
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.sharecart-button-donation:hover {
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
}

.sharecart-button-donation:before, .sharecart-button-donation:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.sharecart-button-donation:hover:before, .sharecart-button-donation:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.sharecart-button-donation:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.empty-sharecart-button {
  width: 100px;
  height: 40px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .sharecart-container {
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .sharecart-order-text {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .sharecart-order-count-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 5px;
  }
  .sharecount-count-text {
    font-size: 20px;
  }
  .sharecart-submit-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 150px 30px 150px;
  }
  .sharecart-button-donation {
    width: 120px;
    height: 40px;
    font-size: 20px;
  }
  .sharecart-button {
    width: 120px;
    height: 40px;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .sharecart-container {
    min-height: 71.5vh;
  }
  .sharecart-container {
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .sharecart-order-text {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .sharecart-order-count-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 5px;
  }
  .sharecount-count-text {
    font-size: 20px;
  }
  .sharecart-submit-button-container {
    margin: 30px 150px 30px 150px;
  }
  .sharecart-button-donation {
    width: 140px;
    height: 35px;
    font-size: 25px;
    padding-top: 3px;
  }
  .sharecart-button {
    width: 140px;
    height: 35px;
    font-size: 25px;
    padding-top: 3px;
  }
}
/*# sourceMappingURL=ShareCart.css.map */