@import '../mixin/mixin';
@import '../components/MenuBox';
@import '../components/ReviewBox';

.storeinfo-container {
  padding: 10px;
  overflow: scroll;
  margin-bottom: 80px;
}

.storeinfo-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
}

.store-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-category-icon {
  height: 30px;
  margin-right: 5px;
}

.store-img {
  display: block;
  margin: 0 auto 10px auto;
  width: 295px;
  border-radius: 15px;
  box-shadow: gray 3px 3px 3px;
}

.store-info-container {
  display: flex;
  flex-direction: column;
}

.store-detail-info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.fa-map-marker-alt,
.fa-clock,
.fa-utensils {
  font-size: 20px;
  color: #ffcc1d;
  margin-right: 10px;
}

.store-detail-info-text {
  font-size: 16px;
  word-break: keep-all;
}

.box-title {
  font-size: 20px;
  font-weight: bolder;
  margin: 35px 0 5px 5px;
}
