.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #ffcc1d;
  height: 315px;
  padding: 10px;
  margin-bottom: 15px;
}

.menu-food-image {
  height: 180px;
  max-width: 265px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.menu-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  margin-top: 10px;
}

.menu-text {
  margin-bottom: 10px;
}

.menu-donation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-donation-icon {
  height: 14px;
  margin-right: 5px;
  margin-bottom: 14px;
}

.menu-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.menu-donate-button,
.menu-eat-button {
  width: 90px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 320px;
  }
  .menu-food-image {
    height: 270px;
    max-width: 400px;
    display: inline-block;
    border-radius: 30px;
    -webkit-box-shadow: gray 4px 4px 4px 4px;
            box-shadow: gray 4px 4px 4px 4px;
    margin: 10px;
  }
  .menu-info-container {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .menu-donation-icon {
    height: 20px;
  }
  .menu-button-container {
    margin-top: 20px;
  }
  .menu-donate-button,
  .menu-eat-button {
    font-size: 20px;
    width: 100px;
    height: 35px;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .menu-box-container {
    width: 50vw;
  }
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 15px 40px 15px 0;
  }
  .menu-food-image {
    width: 330px;
    max-height: 300px;
    display: inline-block;
    border-radius: 30px;
    -webkit-box-shadow: gray 4px 4px 4px 4px;
            box-shadow: gray 4px 4px 4px 4px;
    margin: 10px 45px 10px 10px;
  }
  .menu-info-container {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .menu-donation-icon {
    height: 20px;
  }
  .menu-button-container {
    margin-top: 20px;
  }
  .menu-donate-button,
  .menu-eat-button {
    font-size: 25px;
    width: 110px;
    height: 45px;
    margin: 10px;
  }
}

.reviewBox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #ffcc1d;
  padding: 10px;
  margin-bottom: 15px;
}

.storeinfo-food-image {
  height: 180px;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.reviewBox-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

.reviewBox-reviewer-name {
  margin-bottom: 5px;
  font-weight: bolder;
}

.reviewBox-reviewer-review {
  border: 3px solid #ffcc1d;
  border-radius: 15px;
  padding: 10px;
  word-break: keep-all;
  margin: 10px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .reviewBox-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .storeinfo-food-image {
    width: 300px;
    border-radius: 30px;
    -webkit-box-shadow: gray 4px 4px 4px 4px;
            box-shadow: gray 4px 4px 4px 4px;
    margin: 10px;
  }
  .reviewBox-info-container {
    margin: 15px;
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .reviewBox-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .storeinfo-food-image {
    width: 300px;
    border-radius: 30px;
    -webkit-box-shadow: gray 4px 4px 4px 4px;
            box-shadow: gray 4px 4px 4px 4px;
    margin: 10px;
  }
  .reviewBox-info-container {
    margin: 15px;
    font-size: 25px;
  }
  .menu-box-container {
    width: 100%;
  }
}

.storeinfo-page-container {
  padding: 10px;
  margin-bottom: 80px;
  overflow: auto;
}

.storeinfo-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 10px;
}

.store-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-category-icon {
  height: 30px;
  margin-right: 5px;
}

.store-img {
  display: block;
  margin: 0 auto 10px auto;
  width: 295px;
  max-height: 210px;
  border-radius: 15px;
  -webkit-box-shadow: gray 3px 3px 3px;
          box-shadow: gray 3px 3px 3px;
  overflow: hidden;
}

.store-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.store-detail-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  width: 80%;
}

.fa-map-marker-alt,
.fa-clock,
.fa-utensils {
  font-size: 20px;
  color: #ffcc1d;
  margin-right: 10px;
}

.store-detail-info-text {
  font-size: 16px;
  word-break: keep-all;
}

.box-title {
  font-size: 20px;
  font-weight: bolder;
  margin: 35px 0 5px 5px;
}

.storeinfo-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px;
}

.cart-button:hover,
.back-button:hover {
  color: #ffcc1d;
  cursor: pointer;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .storeinfo-info-container {
    margin-top: 20px;
    font-size: 30px;
  }
  .storeinfo-title-container {
    margin: 15px;
  }
  .store-category-icon {
    height: 45px;
  }
  .store-img {
    width: 395px;
    max-height: 330px;
    margin-left: auto;
    margin-right: auto;
  }
  .fa-map-marker-alt,
  .fa-clock,
  .fa-utensils {
    font-size: 40px;
  }
  .store-detail-info-text {
    font-size: 35px;
    margin: 15px;
  }
  .box-title {
    font-size: 30px;
  }
  .cart-button,
  .back-button {
    font-size: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
  }
}

footer {
  position: static;
}

@media (min-width: 1024px) {
  .storeinfo-page-container {
    margin-top: 60px;
  }
  .storeinfo-info-menu-review-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .storeinfo-info-container {
    font-size: 30px;
  }
  .storeinfo-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
    margin: 10px;
  }
  .store-category-text {
    font-size: 20px;
  }
  .store-img {
    width: 50%;
    max-height: 400px;
    margin: 15px 0 10px 10px;
  }
  .store-detail-info-container {
    margin-top: 15px;
  }
  .fa-map-marker-alt,
  .fa-clock,
  .fa-utensils {
    font-size: 30px;
  }
  .store-detail-info-text {
    font-size: 25px;
    margin-left: 15px;
  }
  .box-title {
    font-size: 30px;
  }
  .cart-button,
  .back-button {
    font-size: 30px;
    height: 45px;
  }
}
/*# sourceMappingURL=StoreInfo.css.map */