.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #ffcc1d;
  border-radius: 10px;
  height: 290px;
  padding: 10px;
  margin-bottom: 15px;
}

.menu-food-image {
  width: 265px;
  height: 150px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  -webkit-box-shadow: gray 4px 4px 4px 4px;
          box-shadow: gray 4px 4px 4px 4px;
}

.menu-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  margin-top: 10px;
}

.menu-text {
  margin-bottom: 10px;
}

.menu-donation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-donation-icon {
  height: 14px;
  margin-right: 5px;
  margin-bottom: 14px;
}

.menu-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.menu-donate-button,
.menu-eat-button {
  padding-top: 3px;
  width: 80px;
  margin-top: 4px;
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
  border-radius: 7px;
  -webkit-transition: 120ms ease;
  transition: 120ms ease;
  background-color: white;
  cursor: pointer;
}

.menu-donate-button:hover,
.menu-eat-button:hover {
  -webkit-box-shadow: gray 6px 6px 6px;
          box-shadow: gray 6px 6px 6px;
}

.menu-donate-button:before, .menu-donate-button:after,
.menu-eat-button:before,
.menu-eat-button:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.menu-donate-button:hover:before, .menu-donate-button:hover:after,
.menu-eat-button:hover:before,
.menu-eat-button:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.menu-donate-button:active,
.menu-eat-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 320px;
  }
  .menu-food-image {
    width: 400px;
    height: 225px;
    display: inline-block;
  }
  .menu-info-container {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .menu-donation-icon {
    height: 20px;
  }
  .menu-button-container {
    margin-top: 20px;
  }
  .menu-donate-button,
  .menu-eat-button {
    font-size: 20px;
    width: 100px;
    height: 35px;
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .menu-box-container {
    width: 50vw;
  }
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 15px 40px 15px 0;
  }
  .menu-food-image {
    width: 340px;
    height: 191px;
    display: inline-block;
    border-radius: 30px;
    -webkit-box-shadow: gray 4px 4px 4px 4px;
            box-shadow: gray 4px 4px 4px 4px;
    margin: 10px 45px 10px 10px;
  }
  .menu-info-container {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .menu-donation-icon {
    height: 20px;
  }
  .menu-button-container {
    margin-top: 20px;
  }
  .menu-donate-button,
  .menu-eat-button {
    font-size: 25px;
    width: 110px;
    height: 45px;
    margin: 10px;
  }
}

.reviewBox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid #ffcc1d;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.storeinfo-food-image {
  width: 265px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  -webkit-box-shadow: gray 4px 4px 4px 4px;
          box-shadow: gray 4px 4px 4px 4px;
}

.reviewBox-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  width: 100%;
}

.reviewBox-reviewer-name {
  margin-bottom: 5px;
  font-weight: bolder;
}

.reviewBox-reviewer-review {
  width: 100%;
  border-radius: 15px;
  word-break: keep-all;
  margin: 5px 0 5px 0;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .reviewBox-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .storeinfo-food-image {
    width: 300px;
    height: 168px;
    border-radius: 30px;
    -webkit-box-shadow: gray 4px 4px 4px 4px;
            box-shadow: gray 4px 4px 4px 4px;
    margin: 10px 70px 10px 10px;
  }
  .reviewBox-info-container {
    margin: 15px 15px 15px 5px;
    font-size: 25px;
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .reviewBox-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .storeinfo-food-image {
    width: 300px;
    height: 168.75px;
    border-radius: 30px;
    margin: 15px;
  }
  .reviewBox-info-container {
    margin: 15px;
    font-size: 25px;
  }
  .menu-box-container {
    width: 100%;
  }
}

.empty-review-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64%;
}

.empty-review-animation {
  width: 300px;
  margin-bottom: 15px;
}

.empty-review-text {
  margin-bottom: 10px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .empty-review-content-container {
    font-size: 23px;
  }
  .empty-back-button {
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .empty-review-content-container {
    margin-top: 150px;
    font-size: 23px;
  }
}

.storeinfo-page-container {
  padding: 10px;
  margin-bottom: 80px;
  overflow: auto;
}

.storeinfo-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.storeinfo-title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bolder;
}

.store-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-category-icon {
  height: 30px;
  margin-right: 5px;
}

.store-img {
  display: block;
  margin: 0 auto 10px auto;
  width: 295px;
  height: 166px;
  border-radius: 15px;
  -webkit-box-shadow: gray 3px 3px 3px;
          box-shadow: gray 3px 3px 3px;
  overflow: hidden;
}

.store-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.store-detail-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.store-detail-info-text {
  font-size: 16px;
  word-break: keep-all;
}

.box-title {
  font-size: 20px;
  font-weight: bolder;
  margin: 35px 0 5px 0;
  font-weight: bolder;
  width: 100%;
}

.storeinfo-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px;
}

.cart-button {
  padding-top: 3px;
  width: 80px;
  margin-top: 4px;
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
  border-radius: 7px;
  -webkit-transition: 120ms ease;
  transition: 120ms ease;
  background-color: white;
  cursor: pointer;
}

.cart-button:hover {
  -webkit-box-shadow: gray 6px 6px 6px;
          box-shadow: gray 6px 6px 6px;
}

.cart-button:before, .cart-button:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.cart-button:hover:before, .cart-button:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.cart-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fa-utensils,
.fa-map-marker-alt,
.fa-clock {
  font-size: 22px;
  color: #ffcc1d;
  margin-right: 10px;
  cursor: default;
}

.fa-utensils:hover,
.fa-map-marker-alt:hover,
.fa-clock:hover {
  opacity: 1;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .storeinfo-info-container {
    margin-top: 60px;
    font-size: 30px;
  }
  .storeinfo-title {
    font-size: 25px;
  }
  .storeinfo-title-container {
    margin: 15px;
  }
  .store-category-icon {
    height: 45px;
  }
  .store-img {
    width: 395px;
    height: 222px;
    margin-left: auto;
    margin-right: auto;
  }
  .store-detail-info-text {
    font-size: 25px;
    margin: 10px;
  }
  .box-title {
    font-size: 30px;
  }
  .cart-button {
    font-size: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
  }
  .fa-utensils,
  .fa-map-marker-alt,
  .fa-clock {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  .storeinfo-page-container {
    margin-top: 60px;
  }
  .storeinfo-title {
    font-size: 30px;
  }
  .storeinfo-info-menu-review-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .storeinfo-info-container {
    font-size: 30px;
    width: 90%;
    padding-right: 20px;
  }
  .storeinfo-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
    margin: 10px;
  }
  .store-category-text {
    font-size: 20px;
  }
  .store-img {
    width: 79%;
    height: 400px;
    margin: 15px 0 10px 10px;
  }
  .store-detail-info-container {
    margin-top: 15px;
  }
  .store-detail-info-text {
    font-size: 25px;
    margin-left: 15px;
    max-width: 600px;
  }
  .box-title {
    font-size: 30px;
  }
  .cart-button {
    width: 150px;
    font-size: 30px;
    height: 45px;
  }
  .fa-utensils,
  .fa-map-marker-alt,
  .fa-clock {
    font-size: 35px;
  }
  .menu-box-container {
    padding-left: 15px;
  }
}
/*# sourceMappingURL=StoreInfo.css.map */