.menuBox-container {
  border: 3px solid black;
  margin: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuBox-title {
  font-size: 17px;
  margin: 10px 0 0 15px;
}

.menuBox-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 3px solid #ffcc1d;
  margin: 5px 15px 10px 15px;
  height: 100px;
  padding: 0 15px 0 15px;
  background-color: white;
}

.menuBox-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.storeinfo-food-image {
  width: 100px;
  height: 60px;
  margin-right: 15px;
}

.storeinfo-icon {
  height: 10px;
}

.menuBox-food-name {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menuBox-food-price {
  font-size: 13px;
  margin-bottom: 5px;
}

.menuBox-donation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.menuBox-food-remain {
  font-size: 13px;
}

.menuBox-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menuBox-Donatebutton {
  width: 70px;
  height: 25px;
  margin-right: 10px;
}

.menuBox-Eatbutton {
  width: 50px;
  height: 25px;
}

.reviewBox-container {
  border: 3px solid black;
  height: 100%;
  margin: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviewBox-title {
  font-size: 17px;
  margin: 10px 0 0 15px;
}

.reviewBox-review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 3px solid blue;
  height: 70px;
  margin: 5px 15px 10px 15px;
  padding: 0 15px 0 15px;
  background-color: white;
  margin-bottom: 15px;
}

.reviewBox-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.storeinfo-food-image {
  height: 150px;
}

.storeinfo-icon {
  width: 15px;
  height: 15px;
}

.reviewBox-reviewer-name {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.reviewBox-reviewer-review {
  font-size: 13px;
}

.storeinfo-pagecontainer {
  border: 2px solid red;
  margin: 0 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.storeinfo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  background-color: white;
}

.storeinfo-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
  margin-bottom: 5px;
}

.storeinfo-title {
  font-size: 18px;
}

.storeinfo-categoryimage {
  height: 15px;
  margin-right: 5px;
}

.storeinfo-storename {
  margin-right: 180px;
  font-size: 15px;
}

.storeinfo-category {
  font-size: 15px;
}

.storeinfo-storeimage {
  width: 310px;
  height: 130px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.storeinfo-icon {
  width: 15px;
  height: 15px;
}

.storeinfo-address {
  margin-right: 30px;
  font-size: 12px;
}

.storeinfo-businesshour {
  font-size: 13px;
}

.storeinfo-description {
  font-size: 12px;
}

.storeinfo-menubox {
  z-index: 1000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  margin-top: 400px;
  background-color: white;
  border: 3px solid #ffcc1d;
}

.storeinfo-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 15px;
}

.storeinfo-cartbutton {
  width: 80px;
  height: 25px;
  margin-right: 60px;
}

.storeinfo-backbutton {
  width: 80px;
  height: 25px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .storeinfo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 50px;
    z-index: 1000;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px;
    background-color: white;
  }
  .storeinfo-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 6px;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  .storeinfo-title {
    font-size: 20px;
  }
  .storeinfo-storename {
    margin-right: 550px;
    font-size: 18px;
  }
  .storeinfo-category {
    font-size: 18px;
  }
  .storeinfo-storeimage {
    width: 450px;
    height: 160px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .storeinfo-icon {
    width: 17px;
    height: 17px;
    margin-right: 5px;
  }
  .storeinfo-address {
    margin-right: 330px;
    font-size: 16px;
  }
  .storeinfo-businesshour {
    font-size: 16px;
  }
  .storeinfo-description {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .storeinfo-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 50px;
    z-index: 1000;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px;
    background-color: white;
  }
  .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 6px;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  .storeinfo-title {
    font-size: 20px;
  }
  .storeinfo-categoryimage {
    width: 15px;
    height: 15px;
  }
  .storeinfo-storename {
    margin-right: 550px;
    font-size: 18px;
  }
  .storeinfo-category {
    font-size: 18px;
  }
  .storeinfo-storeimage {
    width: 700px;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .storeinfo-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .storeinfo-address {
    margin-right: 330px;
    font-size: 16px;
  }
  .storeinfo-businesshour {
    font-size: 16px;
  }
  .storeinfo-description {
    font-size: 16px;
  }
}
/*# sourceMappingURL=StoreInfo.css.map */