.ordered-food-container {
  border: 2px solid #ffcc1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 13px;
  word-break: keep-all;
}

.ordered-food-image {
  height: 90px;
}

.ordered-food-info-container {
  padding: 10px;
}

.ordered-food-info-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

.ordered-food-name {
  margin-right: 15px;
}

.ordered-order-date {
  font-size: 11px;
  margin-bottom: 10px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .ordered-food-container {
    font-size: 17px;
  }
  .ordered-food-image {
    height: 160px;
  }
  .ordered-food-info-container {
    margin-left: 20px;
    margin-top: 10px;
  }
  .ordered-food-name {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .ordered-order-date {
    font-size: 15px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1024px) {
  .ordered-food-container {
    font-size: 17px;
  }
  .ordered-food-image {
    height: 180px;
  }
}

.review-upload-backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.review-upload-window {
  font-size: 13px;
  width: 200px;
  height: 405px;
  border: 3px solid #ffcc1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 20px;
}

.review-upload-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.review-upload-title {
  font-size: 18px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-right: 110px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.review-upload-store-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.review-upload-store-category-icon {
  height: 18px;
  margin-right: 5px;
}

.review-upload-store-name {
  font-size: 15px;
}

.review-upload-food-name {
  font-size: 15px;
}

.review-upload-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-upload-food-image {
  height: 140px;
  max-width: 200px;
  margin: 10px auto 15px auto;
  border-radius: 15px;
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
}

.review-upload-food-text {
  resize: none;
  padding: 5px;
  margin-bottom: 10px;
  word-break: keep-all;
  height: 80px;
  -webkit-transition: 220ms ease all;
  transition: 220ms ease all;
  border: 2px solid;
}

.review-upload-food-text:focus {
  outline: none;
  border: 2px solid #ffcc1d;
}

.review-upload-submit-button {
  margin-left: 65%;
  width: 70px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .review-upload-window {
    width: 500px;
    height: 430px;
    padding: 15px;
  }
  .review-upload-title {
    font-size: 20px;
    margin-bottom: 15px;
    margin-right: 380px;
  }
  .review-upload-store-info-container {
    margin-bottom: 10px;
  }
  .review-upload-store-name {
    font-size: 17px;
  }
  .review-upload-food-name {
    margin-top: 5px;
    margin-left: 15px;
  }
  .review-upload-food-image {
    height: 160px;
    max-width: 215px;
  }
  .review-upload-submit-button {
    margin-left: 80%;
    width: 100px;
  }
}

@media (min-width: 1024px) {
  .review-upload-window {
    width: 650px;
    height: 400px;
    padding: 15px;
  }
  .review-upload-title {
    font-size: 22px;
    margin-right: 530px;
    margin-bottom: 20px;
  }
  .review-upload-store-info-container {
    margin-bottom: 10px;
  }
  .review-upload-store-name {
    font-size: 19px;
  }
  .review-upload-food-name {
    margin-top: 5px;
    margin-left: 15px;
  }
  .review-upload-content-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .review-upload-food-image {
    height: 200px;
    max-width: 270px;
  }
  .review-upload-food-text {
    margin-top: 20px;
    width: 300px;
    height: 170px;
    font-size: 15px;
    -webkit-transition: 120ms ease all;
    transition: 120ms ease all;
  }
  .review-upload-button-container {
    margin-top: 15px;
    margin-left: 40px;
  }
  .review-upload-submit-button {
    margin-left: 80%;
    width: 100px;
  }
}

.usermeal-container {
  padding: 15px;
  font-size: 13px;
  margin-bottom: 70px;
}

.usermeal-title {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.usermeal-store-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.usermeal-category-icon {
  width: 15px;
}

.usermeal-store-image {
  height: 150px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 2px gray;
          box-shadow: 2px 2px 2px 2px gray;
}

.usermeal-address-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.usermeal-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.usermeal-ordered-container {
  margin-top: 40px;
}

.usermeal-ordered-title {
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.usermeal-userinfo-container {
  margin-top: 40px;
  font-size: 14px;
}

.usermeal-userinfo-title {
  font-weight: bolder;
  margin-bottom: 10px;
}

.usermeal-username {
  margin-bottom: 10px;
}

.usermeal-user-email {
  margin-bottom: 10px;
}

.usermeal-user-phone-number {
  margin-bottom: 10px;
}

.usermeal-confirm-button {
  width: 90%;
  margin-left: 15px;
  margin-top: 30px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .usermeal-container {
    font-size: 17px;
    margin-top: 70px;
  }
  .usermeal-store-image {
    height: 200px;
    margin-bottom: 20px;
  }
  .usermeal-title {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .usermeal-ordered-container {
    margin-top: 40px;
  }
  .usermeal-ordered-title {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .usermeal-userinfo-title {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .usermeal-userinfo-container {
    margin-top: 40px;
    font-size: 14px;
    margin-bottom: 40px;
  }
  .usermeal-confirm-button {
    margin-left: 35px;
  }
  .usermeal-username {
    margin-bottom: 20px;
  }
  .usermeal-user-email {
    margin-bottom: 20px;
  }
  .usermeal-confirm-button {
    width: 400px;
    margin-left: 180px;
  }
}

@media (min-width: 1024px) {
  .usermeal-container {
    font-size: 17px;
    margin-top: 50px;
    margin-left: 160px;
    margin-bottom: 90px;
    height: 63vh;
  }
  .usermeal-store-image {
    height: 270px;
    margin-bottom: 20px;
  }
  .usermeal-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .usermeal-order-food-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .usermeal-ordered-info-container {
    margin-right: 160px;
  }
  .usermeal-ordered-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .usermeal-userinfo-container {
    margin-top: 60px;
    font-size: 17px;
  }
  .usermeal-userinfo-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .usermeal-confirm-button {
    width: 500px;
    margin-left: 350px;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=UserMeal.css.map */