@import '../mixin/mixin';
@import '../components/OrderCart/UserMealBox';
@import '../components/OrderCart/ReviewUploadModal';
@import '../components/OrderCart/EmptyOrderAni';

.usermeal-container {
  margin: 15px 15px 80px 15px;
}

.usermeal-reservation-container {
  margin-bottom: 20px;
  border: 3px solid #ffcc1d;
  padding: 15px;
}

.usermeal-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.usermeal-store-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 10px;
}

.usermeal-category-icon {
  height: 25px;
  margin-right: 5px;
}

.usermeal-store-img-container {
  display: flex;
  justify-content: center;
}

.usermeal-store-image {
  width: 210px;
  height: 120px;
  box-shadow: gray 3px 3px 3px;
  border-radius: 10px;
}

.usermeal-address-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.usermeal-description-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.usermeal-ordered-container {
  margin-bottom: 20px;
}

.usermeal-ordered-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.usermeal-userinfo-title {
  font-size: 20px;
  font-weight: bolder;
}

.usermeal-userinfo-container {
  margin: 15px;
}

.usermeal-user-text {
  margin-bottom: 15px;
}

.usermeal-confirm-button {
  display: block;
  margin: 0 auto 0 auto;
}

@include tablet {
  .usermeal-container {
    margin-top: 70px;
  }

  .usermeal-title {
    font-size: 25px;
  }

  .usermeal-category-icon {
    height: 30px;
  }

  .usermeal-store-title {
    font-size: 25px;
  }

  .usermeal-store-image {
    width: 400px;
    height: 240px;
  }

  .fa-map-marker-alt {
    font-size: 35px;
  }

  .usermeal-address-text {
    font-size: 25px;
  }

  .fa-utensils {
    font-size: 35px;
  }

  .usermeal-description-text {
    font-size: 25px;
  }

  .usermeal-ordered-title {
    font-size: 25px;
  }

  .usermeal-userinfo-title {
    font-size: 25px;
  }

  .usermeal-user-text {
    font-size: 20px;
  }

  .usermeal-confirm-button {
    width: 300px;
    height: 35px;
    font-size: 20px;
  }
}

@include desktop {
  .usermeal-container {
    margin-top: 70px;
    margin: 70px 30px 30px 30px;
    min-height: 77.5vh;
  }

  .usermeal-order-food-info-container {
    display: flex;
    justify-content: flex-start;
  }

  .usermeal-reservation-container {
    width: 50%;
  }

  .usermeal-title {
    font-size: 25px;
  }

  .usermeal-category-icon {
    height: 35px;
    margin-right: 10px;
  }

  .usermeal-store-title {
    font-size: 25px;
  }

  .usermeal-store-image {
    width: 40em;
    height: 320px;
  }

  .usermeal-address-text,
  .usermeal-description-text {
    font-size: 20px;
  }

  .usermeal-userinfo-title {
    font-size: 30px;
  }

  .usermeal-user-text {
    font-size: 25px;
  }

  .usermeal-confirm-button {
    width: 300px;
    height: 35px;
    font-size: 20px;
    margin-top: 100px;
  }

  .usermeal-ordered-title {
    font-size: 25px;
  }

  .usermeal-ordered-container {
    margin-top: -5px;
  }
}
