.withdrawal-container {
  padding: 20px;
  min-height: 73.2vh;
}

.withdrawal-title {
  margin-bottom: 10px;
}

.withdrawal-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #ffcc1d;
}

.withdrawal-content-text {
  margin: 20px;
  font-size: 13px;
  word-break: keep-all;
  line-height: 25px;
}

.withdrawal-checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 0 20px;
}

.checkbox-input-check {
  margin-right: 15px;
}

.checkbox-agree-text {
  font-size: 15px;
}

.withdrawal-fillin-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.fillin-text {
  margin-bottom: 10px;
}

.withdrawal-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 30px 100px 30px 100px;
}

.withdrawal-submit-button {
  -webkit-transition: 210ms ease all;
  transition: 210ms ease all;
}

.withdrawal-submit-button:hover {
  color: white;
  background-color: #e06969;
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
}

.withdrawal-submit-button:before, .withdrawal-submit-button:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.withdrawal-submit-button:hover:before, .withdrawal-submit-button:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.withdrawal-submit-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.withdrawal-cancel-button {
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.withdrawal-cancel-button:hover {
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
}

.withdrawal-cancel-button:before, .withdrawal-cancel-button:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.withdrawal-cancel-button:hover:before, .withdrawal-cancel-button:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.withdrawal-cancel-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .withdrawal-container {
    margin-top: 60px;
    min-height: 79.1vh;
  }
  .withdrawal-title {
    font-size: 28px;
  }
  .withdrawal-content-text {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
  }
  .checkbox-input-check {
    width: 20px;
    height: 20px;
  }
  .checkbox-agree-text {
    font-size: 25px;
    margin-left: 10px;
  }
  .fillin-text {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .fillin-input {
    width: 150px;
    height: 30px;
    font-size: 24px;
    padding: 5px 0 5px 15px;
    color: red;
    -webkit-transition: 100ms ease all;
    transition: 100ms ease all;
  }
  .fillin-input:focus {
    border: 2px solid #ffcc1d;
    outline: none;
  }
  .withdrawal-submit-button,
  .withdrawal-cancel-button {
    width: 100px;
    height: 35px;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .withdrawal-container {
    margin-top: 60px;
    min-height: 77.6vh;
  }
  .withdrawal-title {
    font-size: 28px;
  }
  .withdrawal-content-text {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
  }
  .checkbox-input-check {
    width: 20px;
    height: 20px;
  }
  .checkbox-agree-text {
    font-size: 25px;
    margin-left: 10px;
  }
  .fillin-text {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .fillin-input {
    width: 150px;
    height: 30px;
    font-size: 24px;
    padding: 5px 0 5px 15px;
    color: red;
    -webkit-transition: 100ms ease all;
    transition: 100ms ease all;
  }
  .fillin-input:focus {
    border: 2px solid #ffcc1d;
    outline: none;
  }
  .withdrawal-submit-button,
  .withdrawal-cancel-button {
    width: 100px;
    height: 35px;
    font-size: 20px;
  }
}
/*# sourceMappingURL=Withdrawal.css.map */