@import '../mixin/mixin';

.withdrawal-container {
  padding: 20px;
  min-height: 73.2vh;
}

.withdrawal-title {
  margin-bottom: 10px;
}

.withdrawal-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffcc1d;
}

.withdrawal-content-text {
  margin: 20px;
  font-size: 13px;
  word-break: keep-all;
  line-height: 25px;
}

.withdrawal-checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 20px;
}

.checkbox-input-check {
  margin-right: 15px;
}

.checkbox-agree-text {
  font-size: 15px;
}

.withdrawal-fillin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.fillin-text {
  margin-bottom: 10px;
}

.fillin-input {
}

.withdrawal-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 30px 100px 30px 100px;
}

.withdrawal-submit-button {
  transition: 210ms ease all;

  &:hover {
    color: white;
    background-color: rgb(224, 105, 105);
    box-shadow: gray 4px 4px 4px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

.withdrawal-cancel-button {
  transition: 300ms ease all;

  &:hover {
    box-shadow: gray 4px 4px 4px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

@include tablet {
  .withdrawal-container {
    margin-top: 60px;
    min-height: 79.1vh;
  }

  .withdrawal-title {
    font-size: 28px;
  }

  .withdrawal-content-text {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
  }

  .checkbox-input-check {
    width: 20px;
    height: 20px;
  }

  .checkbox-agree-text {
    font-size: 25px;
    margin-left: 10px;
  }

  .fillin-text {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .fillin-input {
    width: 150px;
    height: 30px;
    font-size: 24px;
    padding: 5px 0 5px 15px;
    color: red;
    transition: 100ms ease all;

    &:focus {
      border: 2px solid #ffcc1d;
      outline: none;
    }
  }

  .withdrawal-submit-button,
  .withdrawal-cancel-button {
    width: 100px;
    height: 35px;
    font-size: 20px;
  }
}
@include desktop {
  .withdrawal-container {
    margin-top: 60px;
    min-height: 77.6vh;
  }

  .withdrawal-title {
    font-size: 28px;
  }

  .withdrawal-content-text {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
  }

  .checkbox-input-check {
    width: 20px;
    height: 20px;
  }

  .checkbox-agree-text {
    font-size: 25px;
    margin-left: 10px;
  }

  .fillin-text {
    font-size: 25px;
    margin-bottom: 25px;
  }

  .fillin-input {
    width: 150px;
    height: 30px;
    font-size: 24px;
    padding: 5px 0 5px 15px;
    color: red;
    transition: 100ms ease all;

    &:focus {
      border: 2px solid #ffcc1d;
      outline: none;
    }
  }

  .withdrawal-submit-button,
  .withdrawal-cancel-button {
    width: 100px;
    height: 35px;
    font-size: 20px;
  }
}
