@import '../../mixin/mixin';

.AddMenu-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid;
  width: 100%;
}

.AddMenu-img {
  box-shadow: gray 2px 2px 2px;
  border-radius: 15px;
  height: 120px;
  margin: 10px 15px 10px 10px;
}

.AddMenu-menu-info-container {
  display: flex;
  flex-direction: column;
}

.AddMenu-menu-info-title {
  margin-bottom: 3px;
}

.AddMenu-menu-input {
  margin-bottom: 15px;
  width: 70%;
  transition: 120ms ease all;

  &:focus {
    border: 2px solid #ffcc1d;
    outline: none;
    box-shadow: gray 3px 3px 3px;
  }
}

@include tablet {
  .AddMenu-img {
    height: 190px;
  }

  .AddMenu-menu-info-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .AddMenu-menu-input {
    height: 25px;
    width: 220px;
  }
}

@include desktop {
  .AddMenu-img {
    height: 290px;
  }

  .AddMenu-menu-info-title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .AddMenu-menu-input {
    height: 30px;
    width: 250px;
  }
}
