@import '../../mixin/mixin';

.AddMenu-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 15px;
}

.AddedMenu-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #ffcc1d;
  background-color: whitesmoke;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 15px;
}

.AddMenu-img {
  box-shadow: gray 2px 2px 2px;
  border-radius: 15px;
  width: 130px;
  height: 73.125px;
  margin: 10px 15px 10px 10px;
}

.AddStore-add-menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.AddMenu-menu-info-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 50%;
}

.AddMenu-menu-container {
  margin-bottom: 8px;
}

.AddMenu-menu-info-title {
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 3px;
}

.AddMenu-menu-text {
  font-size: 20px;
  opacity: 0.5;
}

.AddMenu-menu-img-input {
  font-size: 15px;
  overflow: hidden;
  padding: 3px;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;
  width: 70%;
  margin: 5px auto 10px 10px;
}

.AddMenu-menu-input {
  margin-bottom: 15px;
  width: 110px;
  transition: 120ms ease all;
  border-radius: 5px;
  padding: 3px;

  &:focus {
    border: 2px solid #ffcc1d;
    outline: none;
    box-shadow: gray 3px 3px 3px;
  }
}

.AddMenu-menu-delete-button {
  width: 50%;
  margin: 5px 0 0 auto;
  box-shadow: gray 2px 2px 2px;
  transition: 120ms ease all;

  &:hover {
    box-shadow: gray 4px 4px 4px;
    background-color: red;
    color: white;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

@include tablet {
  .AddMenu-add-img-container {
    width: 50%;
  }

  .AddMenu-img {
    width: 250px;
    height: 140.625px;
  }

  .AddMenu-menu-info-title {
    font-size: 20px;
  }

  .AddMenu-menu-input {
    height: 30px;
    width: 80%;
    font-size: 20px;
    padding: 5px;
  }

  .AddMenu-menu-text {
    font-size: 25px;
  }

  .AddMenu-menu-delete-button {
    margin: 5px 58px 0 auto;
    width: 100px;
  }
}

@include desktop {
  .AddMenu-img {
    width: 310px;
    height: 174.375px;
  }

  .AddMenu-menu-info-title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .AddMenu-menu-input {
    height: 30px;
    width: 80%;
    font-size: 25px;
  }

  .AddMenu-menu-text {
    font-size: 28px;
  }

  .AddMenu-menu-delete-button {
    margin: 15px 64px 0 auto;
    width: 100px;
  }
}
