@import '../../mixin/mixin';

.FixMenu-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 15px;
  padding-bottom: 10px;
}

.FixMenu-add-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FixMenu-img {
  box-shadow: gray 2px 2px 2px;
  border-radius: 15px;
  width: 130px;
  height: 73.125px;
  margin: 10px 15px 10px 10px;
}

.FixStore-add-menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FixMenu-menu-info-container {
  display: flex;
  flex-direction: column;
}

.FixMenu-menu-info-title {
  font-weight: bolder;
  font-size: 18px;
  margin: 5px 5px;
}

.FixMenu-menu-text {
  font-size: 15px;
  margin: 0 0 10px 5px;
  opacity: 0.5;
}

.FixMenu-menu-img-input {
  font-size: 15px;
  overflow: hidden;
  padding: 3px;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;
  width: 70%;
  margin: 5px auto 10px 10px;
}

.FixMenu-menu-input {
  margin-bottom: 15px;
  width: 80%;
  transition: 120ms ease all;
  border-radius: 5px;
  padding: 3px;

  &:focus {
    border: 2px solid #ffcc1d;
    outline: none;
    box-shadow: gray 3px 3px 3px;
  }
}

.FixMenu-menu-delete-button {
  padding-top: 3px;
  width: 60px;
  margin-top: 4px;
  margin-left: 50%;
  box-shadow: gray 4px 4px 4px;
  border-radius: 7px;
  transition: 120ms ease;
  background-color: white;
  cursor: pointer;

  &:hover {
    box-shadow: gray 6px 6px 6px;
    background-color: red;
    color: white;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

@include tablet {
  .FixMenu-img {
    width: 220px;
    height: 180px;
  }

  .FixMenu-menu-info-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .FixMenu-menu-input {
    height: 30px;
    width: 100%;
    font-size: 20px;
    padding: 5px;
  }

  .FixMenu-menu-delete-button {
    width: 100px;
    cursor: pointer;
  }
}

@include desktop {
  .FixMenu-add-img-container {
    width: 50%;
  }

  .FixMenu-img {
    height: 290px;
    max-width: 80%;
  }

  .FixMenu-menu-info-container {
    width: 50%;
  }

  .FixMenu-menu-info-title {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .FixMenu-menu-input {
    height: 30px;
    width: 80%;
    font-size: 25px;
  }

  .FixMenu-menu-delete-button {
    width: 120px;
    height: 35px;
    font-size: 23px;
    cursor: pointer;
  }
}
