@import '../../mixin/mixin';

.animation-container {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.management-empty-animation {
  width: 280px;
}

.management-empty-catchphrase {
  margin: 30px 0 15px 0;
  width: 55%;
}

.management-empty-button-container {
  display: flex;
  flex-direction: column;
}

.management-empty-button {
  width: 130px;
  height: 35px;
  font-size: 15px;
  margin-top: 15px;
  box-shadow: gray 4px 4px 4px;
  border-radius: 10px;
  transition: 120ms ease;
  background-color: white;
  cursor: pointer;

  &:hover {
    box-shadow: gray 6px 6px 6px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

@include tablet {
  .animation-container {
    min-height: 71vh;
  }

  .management-empty-animation {
    width: 50%;
  }

  .management-empty-catchphrase {
    font-size: 30px;
  }

  .management-empty-button {
    width: 200px;
    height: 40px;
    font-size: 25px;
  }
}

@include desktop {
  .animation-container {
    min-height: 77.5vh;
    margin-top: 100px;
  }

  .management-empty-animation {
    width: 50%;
  }

  .management-empty-catchphrase {
    font-size: 30px;
  }

  .management-empty-button {
    width: 200px;
    height: 40px;
    font-size: 25px;
  }
}
