@import '../../mixin/mixin';

.ordered-food-container {
  border: 3px solid #ffcc1d;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 10px;
  word-break: keep-all;
}

.ordered-food-image {
  height: 90px;
  width: 120px;
  margin: 10px;
  box-shadow: gray 3px 3px 3px;
  border-radius: 10px;
}

.ordered-food-info-container {
  display: flex;
  flex-direction: column;
  margin: 10px 8px 10px 0;
}

.ordered-food-info-title-container {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: fit-content;
}

.ordered-food-info-title-container {
  margin-bottom: 15px;
}

.ordered-food-name {
  font-weight: bold;
  margin-right: 5px;
}

.ordered-food-name-price {
  font-size: 12px;
}

.ordered-food-price {
  font-size: 10px;
}

.ordered-order-date {
  margin-bottom: 10px;
}

@include tablet {
  .ordered-food-container {
    font-size: 18px;
  }

  .ordered-food-image {
    height: 160px;
    width: 250px;
    margin: 15px;
  }

  .ordered-food-info-container {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 25px;
  }

  .ordered-food-info-title-container {
    margin-bottom: 20px;
  }

  .ordered-food-name {
    font-size: 20px;
  }

  .ordered-food-name-price {
    font-size: 15px;
  }

  .ordered-order-date {
    font-size: 15px;
    margin-bottom: 20px;
  }
}

@include desktop {
  .ordered-food-container {
    margin-right: 30px;
  }

  .usermeal-reservation-container {
    margin-right: 30px;
  }

  .usermeal-ordered-info-container {
    margin-top: -30px;
  }

  .usermeal-ordered-container {
    width: 50vw;
  }

  .ordered-food-image {
    width: 20em;
    height: 140px;
    margin: 30px;
  }

  .ordered-food-info-container {
    width: 100%;
    margin: 30px;
  }

  .ordered-food-info-title-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .ordered-food-name {
    font-size: 25px;
  }

  .ordered-food-name-price {
    font-size: 15px;
  }
}
