@import '../../mixin/mixin';

.ordered-food-container {
  border: 2px solid #ffcc1d;
  display: flex;
  justify-content: flex-start;
  font-size: 10px;
  word-break: keep-all;
}

.ordered-food-image {
  max-height: 90px;
  max-width: 120px;
  margin: 10px;
  border: 1px solid;
}

.ordered-food-info-container {
  display: flex;
  flex-direction: column;
  margin: 10px 8px 10px 0;
}

.ordered-food-info-title-container {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: fit-content;
}

.ordered-food-info-title-container {
  margin-bottom: 15px;
}

.ordered-food-name {
  font-weight: bold;
  margin-right: 5px;
}

.ordered-food-name-price {
  font-size: 12px;
}

.ordered-food-price {
  font-size: 10px;
}

.ordered-order-date {
  margin-bottom: 10px;
}

@include tablet {
  .ordered-food-container {
    font-size: 18px;
  }

  .ordered-food-image {
    max-height: 160px;
    max-width: 250px;
    margin: 15px;
  }

  .ordered-food-info-container {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 25px;
  }

  .ordered-food-info-title-container {
    margin-bottom: 20px;
  }

  .ordered-food-name {
    font-size: 20px;
  }

  .ordered-food-name-price {
    font-size: 15px;
  }

  .ordered-order-date {
    font-size: 15px;
    margin-bottom: 20px;
  }
}

@include desktop {
  .ordered-food-container {
    width: 100%;
    margin-bottom: 180px;
  }

  .ordered-food-image {
    max-height: 210px;
    max-width: 300px;
    margin: 15px;
  }

  .ordered-food-info-container {
    margin-left: 20px;
    margin-top: 15px;
    font-size: 25px;
  }

  .ordered-food-info-title-container {
    margin-bottom: 20px;
  }

  .ordered-food-name {
    font-size: 25px;
  }

  .ordered-food-name-price {
    font-size: 20px;
  }

  .ordered-order-date {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
