@import '../mixin/mixin';

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.alert-backdrop {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}

.alert-warning-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: white;
  border: 8px solid #ffcc1d;
  border-radius: 45px;
  padding: 10px;
  animation: appear 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.alert-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  background-color: white;
  border: 8px solid #ffcc1d;
  border-radius: 45px;
  padding: 10px;
  animation: appear 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.alert-animation {
  height: 120px;
  padding-bottom: 15px;
}

.alert-title {
  font-size: 25px;
  word-break: keep-all;
}

.alert-message {
  font-size: 20px;
  word-break: keep-all;
}

.alert-ownstore-animation {
  height: 180px;
}

.alert-ownstore-title {
  font-size: 16px;
  text-align: center;
  word-break: keep-all;
  margin-bottom: 10px;
}

.alert-ownstore-message {
  font-size: 12px;
  word-break: keep-all;
  text-align: center;
}

.alert-ownstore-button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
}

.alert-ownstore-donation-button {
  &:hover {
    color: #ffcc1d;
    box-shadow: gray 4px 4px 4px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

@include tablet {
  .alert-window {
    width: 340px;
    padding: 15px;
  }

  .alert-animation {
    height: 160px;
  }

  .alert-message {
    font-size: 30px;
  }

  .alert-ownstore-animation {
    height: 280px;
  }

  .alert-ownstore-title {
    font-size: 22px;
  }

  .alert-ownstore-message {
    font-size: 18px;
  }

  .alert-ownstore-donation-button {
    width: fit-content;
  }
}

@include desktop {
  .alert-window {
    width: 440px;
    padding: 30px;
  }

  .alert-animation {
    height: 200px;
  }

  .alert-message {
    font-size: 35px;
  }

  .alert-window {
    width: 340px;
    padding: 15px;
  }

  .alert-animation {
    height: 160px;
  }

  .alert-message {
    font-size: 30px;
  }

  .alert-ownstore-animation {
    height: 380px;
  }

  .alert-ownstore-title {
    font-size: 22px;
  }

  .alert-ownstore-message {
    font-size: 18px;
  }

  .alert-ownstore-donation-button {
    width: fit-content;
  }
}
