button {
  width: fit-content;
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: gray 2px 2px 2px;
  transition: 100ms ease;
  padding: 0 10px 0 10px;

  &:hover {
    box-shadow: gray 2px 2px 2px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}
