@import '../mixin/mixin';

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f1e3;
}

.logo {
  width: 60px;
  height: 50px;
  margin-bottom: 2px;
  padding-top: 15px;
}

.footer-our-info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-title-text {
  font-weight: bolder;
  font-size: 5px;
  margin-bottom: 5px;
}

.footer-text {
  font-size: 12px;
}

.footer-copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background-color: #f7f1e3;
}

.footer-copyright {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px 0 10px 0;
  background-color: #f7f1e3;
}

@include mobile {
  .footer-container {
    display: none;
  }
  .footer-copyright {
    display: none;
  }
}

@include tablet {
  .footer-title-text {
    font-size: 20px;
  }
  .footer-text {
    font-size: 16px;
  }
  .footer-copyright {
    font: 12px;
  }
}
@include desktop {
  .footer-title-text {
    font-size: 30px;
  }
  .footer-text {
    font-size: 18px;
  }
  .footer-copyright {
    font-size: 16px;
  }
}
