@import '../components/Sidebar';
@import '../mixin/mixin';

button {
  height: 30px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 999;
  height: 60px;
  width: 100%;
}

.header-logo {
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.fas {
  font-size: 45px;
  margin: 5px;
  cursor: pointer;
  transition: 200ms ease all;

  &:hover {
    opacity: 70%;
  }
}

@include mobile {
  .header-container {
    display: none;
  }
}

@include tablet {
}

@include desktop {
}
