@import '../mixin/mixin';

.storeinfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 530px;
  left: 15px;
  z-index: 1000;
  width: 300px;
  height: 150px;
  padding: 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 45px;
  box-shadow: gray 2px 2px 2px 2px;
}

.storeinfo-storeimage {
  width: 290px;
  height: 80px;
}

.storeinfo-box {
}

.storeinfo-boxcontainer {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-top: 6px;
}

.storeinfo-icon {
  width: 18px;
  height: 15px;
}

.storeinfo-storename {
  font-size: 17px;
  margin-top: 10px;
  margin-right: 10px;
}

.storeinfo-storecategory {
  font-size: 9px;
  margin-right: 195px;
}

.storeinfo-storedonation {
  font-size: 9px;
}

.storeinfo-business_hour {
  font-size: 9px;
}

.storeinfo-storeaddress {
  font-size: 9px;
  margin-right: 5px;
}

.storeinfo-storedescription {
  font-size: 9px;
}

@include tablet {
  .storeinfo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 550px;
    left: 225px;
    z-index: 1000;
    width: 300px;
    height: 150px;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: gray 2px 2px 2px 2px;
  }
}
@include desktop {
  .storeinfo-container {
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 540px;
    left: 750px;
    z-index: 1000;
    width: 380px;
    height: 150px;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: gray 2px 2px 2px 2px;
  }
  .storeinfo-storeimage {
    width: 350px;
    height: 80px;
  }

  .storeinfo-box {
  }

  .storeinfo-boxcontainer {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-top: 6px;
  }

  .storeinfo-icon {
    width: 18px;
    height: 15px;
  }

  .storeinfo-storename {
    font-size: 17px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .storeinfo-storecategory {
    font-size: 12px;
    margin-right: 240px;
  }

  .storeinfo-storedonation {
    font-size: 12px;
  }

  .storeinfo-business_hour {
    font-size: 12px;
  }

  .storeinfo-storeaddress {
    font-size: 12px;
    margin-right: 5px;
  }

  .storeinfo-storedescription {
    font-size: 12px;
  }
}
