@import '../mixin/mixin';

.sharecart-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 10px 0 20px 0;
  border: 3px solid #ffcc1d;
}
.sharecart-checkbox {
  cursor: pointer;
}
.sharecart-item-img {
  display: block;
  margin: 0 10px 0 10px;
  width: 70px;
  border-radius: 15px;
  box-shadow: gray 3px 3px 3px;
}
.sharecart-item-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sharecart-item-name {
  font-size: 12px;
}
.sharecart-item-price {
  font-size: 12px;
}
.sharecart-item-count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.sharecart-plus-minus-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shartcart-cart-number {
  margin-left: 3px;
  margin-right: 3px;
}
.fa-plus,
.fa-minus {
  font-size: 15px;
  color: #ffcc1d;
  &:hover {
    cursor: pointer;
    font-size: 3px solid #ffcc1d;
    text-shadow: 1px 1px 1px gray;
    transition: ease all 200ms;
  }
}
.sharecart-delete-button {
  font-size: 11px;
  width: 45px;
  height: 25px;
  margin-top: 5px;
  cursor: pointer;
}

@include tablet {
  .sharecart-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 3px solid #ffcc1d;
  }
  .sharecart-item-img {
    display: block;
    margin: 0 10px 0 10px;
    width: 120px;
    border-radius: 15px;
    box-shadow: gray 3px 3px 3px;
  }
  .sharecart-item-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }
  .sharecart-item-name {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .sharecart-item-price {
    font-size: 15px;
  }
  .sharecart-item-count-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
  }
  .sharecart-plus-minus-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 120px;
  }
  .shartcart-cart-number {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
  }
  .fa-plus,
  .fa-minus {
    font-size: 20px;
    color: #ffcc1d;
  }
  .sharecart-delete-button {
    font-size: 15px;
    width: 70px;
    height: 30px;
    margin-top: 5px;
  }
}
@include desktop {
}
