@import '../mixin/mixin';

.signup-modal-backdrop {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}

.signup-modal-window {
  position: absolute;
  background-color: white;
  border: 4px solid #ffcc1d;
  height: 505px;
  width: 240px;
  padding: 10px 0 2px 12px;
}

.signup-logo {
  height: 35px;
}

.signup-title-text {
  margin: 15px 0 5px 0;
  font-weight: bolder;
}

.signup-input-container {
  font-size: 15px;
}

.signup-text {
  padding-top: 10px;
}

.signup-input {
  font-size: 13px;
  border: 2px solid;
  border-radius: 5px;
  transition: 100ms ease all;
  height: 20px;
  padding: 2px 0 2px 8px;
  margin-top: 4px;

  &:focus {
    border: 2px solid #ffcc1d;
    outline: none;
  }
}

.signup-validation-message {
  margin: 5px;
  font-size: 12px;
  color: gray;
  word-break: keep-all;
}

.signup-validation-ok {
  margin: 5px;
  font-size: 12px;
  color: green;
  word-break: keep-all;
}

.signup-validation-error {
  margin: 5px;
  font-size: 12px;
  color: red;
  word-break: keep-all;
}

.validation-email-button {
  font-size: 10px;
  height: 23px;
  margin-bottom: 10px;
}

.signup-phone-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-phone-input {
  width: 120px;
  font-size: 8px;
  border: 2px solid;
  border-radius: 5px;
  transition: 100ms ease all;
  height: 20px;
  padding: 2px 0 2px 8px;
  margin-top: 4px;

  &:focus {
    border: 2px solid #ffcc1d;
    outline: none;
  }
}

.signup-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.signup-button-ok {
  color: white;
  background-color: #ffcc1d;
}

.signup-goback-button {
  margin-right: 30px;
  transition: 120ms ease all;

  &:hover {
    background-color: #f90716;
    color: white;
  }
}

@include mobile {
}
@include tablet {
}
@include desktop {
}
