@import '../../mixin/mixin';

.animation-container {
  display: flex;
  flex-direction: column;
}

.sharecart-animation {
  position: absolute;
  top: 0;
}

.sharecart-catchphrase {
  font-size: 15px;
  margin: 15px 0 15px 0;
}

.empty-sharecart-button {
  padding-top: 3px;
  width: 230px;
  margin-top: 4px;
  box-shadow: gray 4px 4px 4px;
  border-radius: 7px;
  transition: 120ms ease;
  background-color: white;
  cursor: pointer;

  &:hover {
    box-shadow: gray 6px 6px 6px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

@include tablet {
  .animation-container {
    margin-top: 50px;
  }

  .sharecart-catchphrase {
    margin-top: 50px;
    font-size: 50px;
  }

  .empty-sharecart-button {
    margin-top: 30px;
    font-size: 20px;
  }
}

@include desktop {
  .sharecart-animation {
    position: absolute;
    top: -100px;
  }
  .sharecart-catchphrase {
    font-size: 50px;
    margin-top: 250px;
  }

  .empty-sharecart-button {
    margin-top: 30px;
    font-size: 20px;
    padding-top: 3px;
  }
}
