@import '../../mixin/mixin';

.reviewBox-container {
  display: flex;
  flex-direction: column;
  border: 3px solid #ffcc1d;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.storeinfo-food-image {
  width: 265px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  box-shadow: gray 4px 4px 4px 4px;
}

.reviewBox-info-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
}

.reviewBox-reviewer-name {
  margin-bottom: 5px;
  font-weight: bolder;
}

.reviewBox-reviewer-review {
  width: 100%;
  border-radius: 15px;
  word-break: keep-all;
  margin: 5px 0 5px 0;
}

@include tablet {
  .reviewBox-container {
    justify-content: flex-start;
    align-items: center;
    flex-direction: initial;
  }

  .storeinfo-food-image {
    width: 300px;
    height: 168px;
    border-radius: 30px;
    box-shadow: gray 4px 4px 4px 4px;
    margin: 10px 70px 10px 10px;
  }

  .reviewBox-info-container {
    margin: 15px 15px 15px 5px;
    font-size: 25px;
    width: 50%;
  }
}

@include desktop {
  .reviewBox-container {
    justify-content: flex-start;
    align-items: center;
    flex-direction: initial;
  }

  .storeinfo-food-image {
    width: 300px;
    height: 168.75px;
    border-radius: 30px;
    margin: 15px;
  }

  .reviewBox-info-container {
    margin: 15px;
    font-size: 25px;
  }

  .menu-box-container {
    width: 100%;
  }
}
