@import '../../mixin/mixin';

.phone-modal-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.phone-modal-backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}

.phone-modal-window {
  font-size: 17px;
  width: 250px;
  border: 3px solid #ffcc1d;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}

.phone-modal-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.phone-modal-text {
  font-weight: bolder;
}

.phone-modal-close {
  width: 15px;
  cursor: pointer;
}

.phone-modal-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.phone-modal-number-input {
  padding: 5px;
  transition: 120ms ease all;

  &:focus {
    border: 2px solid #ffcc1d;
    outline: none;
  }
}

.phone-modal-number-submit {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 8px;
  box-shadow: gray 4px 4px 4px;
  transition: 120ms ease all;

  &:hover {
    box-shadow: gray 6px 6px 6px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

.phone-modal-number-alert-text {
  color: red;
  font-size: 13px;
  margin-bottom: 25px;
}

.phone-modal-verification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-modal-verification-input {
  padding: 5px;
  margin-right: 5px;
  transition: 120ms ease all;

  &:focus {
    border: 2px solid #ffcc1d;
    outline: none;
  }
}

.phone-modal-verification-submit {
  width: 120px;
  margin: 0;

  box-shadow: gray 4px 4px 4px;
  transition: 120ms ease all;

  &:hover {
    box-shadow: gray 6px 6px 6px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

@include tablet {
  .phone-modal-window {
    font-size: 23px;
    width: 350px;
    padding-top: 15px;
  }

  .phone-modal-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .phone-modal-number-input {
    font-size: 20px;
  }

  .phone-modal-number-submit {
    margin-left: 0px;
    font-size: 20px;
    height: 40px;
  }

  .phone-modal-number-alert-text {
    font-size: 18px;
  }

  .phone-modal-verification-container {
    margin-top: 15px;
  }

  .phone-modal-verification-input {
    font-size: 25px;
    width: 50%;
  }

  .phone-modal-verification-submit {
    font-size: 20px;
    height: 40px;
  }
}

@include desktop {
  .phone-modal-window {
    font-size: 25px;
    width: 450px;
  }

  .phone-modal-title-container {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .phone-modal-number-input {
    font-size: 25px;
  }

  .phone-modal-number-submit {
    margin-left: 0px;
    font-size: 20px;
    height: 40px;
  }

  .phone-modal-number-alert-text {
    font-size: 20px;
  }

  .phone-modal-verification-container {
    margin-top: 10px;
  }

  .phone-modal-verification-input {
    font-size: 20px;
  }

  .phone-modal-verification-submit {
    font-size: 20px;
    height: 40px;
  }
}
