@import '../../mixin/mixin';

.donationbox-container {
  border-bottom: 3px solid #f3f3f3;
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
  word-break: keep-all;
}

.donationbox-title-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.donationbox-date-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.donationbox-category-icon {
  width: 30px;
  margin-right: 5px;
}

.donationbox-category-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.donationbox-createdat-icon {
  width: 20px;
  margin-right: 5px;
}

.donationbox-address-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.donationbox-address-icon {
  width: 13px;
  margin-right: 5px;
}

.donationbox-address-text {
  padding-top: 5px;
}

.donationbox-content-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.donationbox-food-info-container {
  width: fit-content;
  margin-right: 15px;
  box-shadow: gray 3px 3px 3px 3px;
  padding: 10px;
  border-radius: 10px;
}

.donationbox-food-info-container {
  margin-bottom: 15px;
}

.donationbox-store-name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.donationbox-store-category {
  width: 25px;
  margin: 0 5px 5px 0;
}

.donationbox-food-name {
  margin-bottom: 3px;
}

.donationbox-food-price {
  margin-bottom: 3px;
}

.donationbox-dish-count-container {
  display: flex;
  align-items: flex-end;
}

.donationbox-dish-icon {
  width: 20px;
  padding-bottom: 4px;
  margin-right: 5px;
}

@include tablet {
  .donationbox-createdat-icon {
    width: 30px;
  }

  .donationbox-createdat-text {
    font-size: 20px;
  }

  .donationbox-content-container {
    margin-top: 15px;
  }

  .donationbox-food-info-container {
    margin-right: 20px;
  }

  .donationbox-store-category {
    width: 30px;
  }

  .donationbox-store-name {
    font-size: 22px;
  }

  .donationbox-food-name {
    font-size: 20px;
  }

  .donationbox-food-price {
    font-size: 18px;
  }

  .donationbox-dish-icon {
    width: 25px;
  }

  .donationbox-dish-number {
    font-size: 18px;
  }
}

@include desktop {
  .donationbox-createdat-icon {
    width: 30px;
  }

  .donationbox-createdat-text {
    font-size: 20px;
  }

  .donationbox-content-container {
    margin-top: 15px;
  }

  .donationbox-food-info-container {
    margin-right: 20px;
  }

  .donationbox-store-category {
    width: 30px;
  }

  .donationbox-store-name {
    font-size: 22px;
  }

  .donationbox-food-name {
    font-size: 20px;
  }

  .donationbox-food-price {
    font-size: 18px;
  }

  .donationbox-dish-icon {
    width: 25px;
  }

  .donationbox-dish-number {
    font-size: 18px;
  }
}
