@import '../../mixin/mixin';

.customOverlay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
  background-color: white;
  position: absolute;
  bottom: -355px;
  right: -151px;
  border: 2px solid;
  border-radius: 20px;
  font-size: 10px;
  cursor: Default;
}

.fa-map-marker-alt,
.fa-utensils,
.fa-heart,
.fa-business-time {
  font-size: 10px;
  color: #ffcc1d;
  cursor: default;
  &:hover {
    opacity: 100%;
  }
}

.fa-times {
  margin-right: 85%;
  font-size: 20px;
  transition: 100ms ease all;

  &:hover {
    color: #ffcc1d;
  }
}

.customOverlay-img {
  width: 78%;
  height: 150px;
  margin-bottom: 15px;
  box-shadow: gray 3px 3px 3px 3px;
  border-radius: 15px;
  cursor: pointer;
}

.customOverlay-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 0 10px;
}

.customOverlay-info-left-container {
  display: flex;
  flex-direction: column;
}

.customOverlay-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.customOverlay-title {
  margin-right: 10px;
  font-size: 13px;
  font-weight: bolder;
  cursor: pointer;
}

.customOverlay-category {
  font-size: 8px;
}

.customOverlay-businesshour-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// 시간 아이콘
// .customOverlay-businesshour-info

.customOverlay-donation-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// 기부 아이콘
// .customOverlay-donation-info

.customOverlay-place-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// 위치 아이콘
// .customOverlay-place-info

.customOverlay-description-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

// 설명 아이콘
// .customOverlay-donation-info

@include tablet {
  .customOverlay-container {
    bottom: -555px;
    right: -205px;
    font-size: 18px;
  }

  .fa-map-marker-alt,
  .fa-utensils,
  .fa-heart,
  .fa-business-time {
    font-size: 30px;
  }

  .fa-times {
    margin-right: 90%;
    font-size: 25px;
  }

  .customOverlay-img {
    height: 230px;
  }

  .customOverlay-title {
    font-size: 30px;
  }
  .customOverlay-category {
    font-size: 18px;
  }

  .customOverlay-businesshour-container {
    margin-left: 15px;
    margin-right: 10px;
  }
}

@include desktop {
  .customOverlay-container {
    bottom: -585px;
    right: -265px;
    font-size: 18px;
  }

  .fa-map-marker-alt,
  .fa-utensils,
  .fa-heart,
  .fa-business-time {
    font-size: 30px;
  }

  .fa-times {
    margin-right: 93%;
    font-size: 30px;
  }

  .customOverlay-img {
    height: 280px;
  }

  .customOverlay-title {
    font-size: 30px;
  }
  .customOverlay-category {
    font-size: 18px;
  }

  .customOverlay-businesshour-container {
    margin-left: 15px;
    margin-right: 10px;
  }
}
