@import '../../mixin/mixin';

// X 버튼 버그 수정
.gm-style-iw,
button {
  &:focus {
  }
  outline: 0;
}

// css
.infowindow-window {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 15px;
}

.infowindow-store-img {
  width: 150px;
  height: 85px;
  cursor: pointer;
  box-shadow: gray 4px 4px 4px;
  border-radius: 15px;
}

.infowindow-store-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 5px;
  margin-bottom: 10px;
}

.infowindow-store-category-icon {
  width: 28px;
  margin-right: 5px;
}

.infowindow-store-title-text {
  font-weight: bolder;
  margin-right: 3px;
  font-size: 18px;
  cursor: pointer;
  transition: 120ms ease all;

  &:hover {
    color: #ffcc1d;
  }
}

.infowindow-store-category {
  font-size: 10px;
}

.infowindow-store-info-container {
  display: flex;
  flex-direction: column;
}

.infowindow-store-info-container-02 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

.infowindow-info-icon {
  width: 15px;
  margin-right: 10px;
}

.infowindow-info-text {
  font-size: 10px;
  margin-right: 5px;
}

@include tablet {
  .infowindow-window {
    width: 440px;
    height: 310px;
  }

  .infowindow-store-img {
    width: 250px;
    height: 140px;
    margin: 10px auto 0 auto;
  }

  .infowindow-store-title-container {
    margin: 10px 5px 10px 0;
  }

  .infowindow-store-category-icon {
    width: 28px;
    margin: 0 5px 3px 0;
  }

  .infowindow-store-info-container {
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
  }

  .infowindow-store-title-text {
    font-size: 25px;
  }

  .infowindow-store-category {
    font-size: 15px;
  }

  .infowindow-info-text {
    font-size: 18px;
    margin-right: 5px;
  }

  .infowindow-info-icon {
    width: 20px;
  }
}

@include desktop {
  .infowindow-window {
    width: 490px;
    height: 185px;
    flex-direction: row;
    align-items: center;
  }

  .infowindow-store-img {
    width: 260px;
    height: 146px;
    margin: 0 10px 0 10px;
  }

  .infowindow-store-category-icon {
    margin-bottom: 1px;
  }

  .infowindow-store-info-container {
    justify-content: flex-start;
  }

  .infowindow-store-title-text {
    font-size: 20px;
  }

  .infowindow-store-category {
    font-size: 13px;
  }

  .infowindow-info-text {
    font-size: 15px;
    margin-right: 5px;
  }

  .infowindow-info-icon {
    width: 20px;
  }
}
