/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f7f1e3;
  position: static;
  bottom: 0;
  z-index: 999;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px 5px 10px;
  width: 97%;
}

.footer-logo-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo-img {
  height: 50px;
  margin: 5px 10px 5px 5px;
}

.footer-title-text {
  font-weight: bolder;
  padding: 5px 10px 5px 5px;
}

.footer-text {
  margin-right: 10px;
  margin-left: 5px;
}

.footer-copyright {
  padding-bottom: 15px;
}

@media (min-width: 300px) and (max-width: 757px) {
  footer {
    display: none;
  }
}

@media (min-width: 1024px) {
  .footer-logo-img {
    height: 70px;
    margin: 5px 10px 5px 5px;
  }
}

.sidebar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 65px;
  left: 1;
  bottom: 0;
  right: 0;
  width: 220px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 30px 0 0 30px;
  background-color: white;
  -webkit-box-shadow: gray 3px 3px 3px 3px;
          box-shadow: gray 3px 3px 3px 3px;
  z-index: 999;
}

.sidebar-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  font-size: 25px;
  cursor: pointer;
}

.sidebar-menu-container:hover {
  color: red;
}

.sidebar-icon {
  margin-right: 10px;
  font-size: 30px;
}

.sidebar-logo {
  width: 100px;
  height: 80px;
  cursor: -webkit-grab;
  cursor: grab;
}

@media (min-width: 300px) and (max-width: 757px) {
  .sidebar-container {
    width: 120px;
  }
  .sidebar-menu-container {
    font-size: 12px;
  }
  .sidebar-icon {
    font-size: 20px;
  }
  .sidebar-logo {
    width: 50px;
    height: 40px;
  }
}

@media (min-width: 758px) and (max-width: 1023px) {
  .sidebar-container {
    width: 160px;
  }
  .sidebar-menu-container {
    font-size: 16px;
  }
  .sidebar-icon {
    font-size: 25px;
  }
  .sidebar-logo {
    width: 80px;
    height: 60px;
  }
}

button {
  height: 30px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 999;
  height: 60px;
  width: 100%;
}

.header-logo {
  height: 50px;
  margin: 5px;
}

.fas {
  font-size: 45px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
}

.fas:hover {
  opacity: 70%;
}

@media (min-width: 300px) and (max-width: 757px) {
  .header-container {
    display: none;
  }
}

.animation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-height: 30vh;
  margin-top: 100px;
}

.notfound-animation {
  min-width: 300px;
  max-width: 50vw;
}

.notfound-catchphrase {
  min-width: 300px;
  font-size: 15px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .animation-container {
    margin-top: 200px;
  }
  .notfound-catchphrase {
    margin-top: 50px;
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .animation-container {
    margin-top: 250px;
  }
  .notfound-catchphrase {
    margin-top: 80px;
    font-size: 50px;
  }
}

.animation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-height: 30vh;
  margin-top: 100px;
}

.sharecart-animation {
  min-width: 300px;
  max-width: 50vw;
}

.sharecart-catchphrase {
  min-width: 300px;
  font-size: 15px;
}

button {
  margin-top: 15px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .animation-container {
    margin-top: 50px;
  }
  .sharecart-catchphrase {
    margin-top: 50px;
    font-size: 50px;
  }
  .empty-sharecart-button {
    margin-top: 30px;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .animation-container {
    margin-top: 0;
  }
  .sharecart-catchphrase {
    margin-top: -100px;
    font-size: 50px;
  }
  .empty-sharecart-button {
    margin-top: 30px;
    font-size: 20px;
    padding-top: 3px;
  }
}

.empty-order-container {
  padding: 20px;
  margin-bottom: 80px;
  min-height: 73.2vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.empty-order-title {
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 30px;
  font-weight: bolder;
}

.empty-order-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 30vh;
  margin-top: 100px;
}

.empty-order-animation {
  min-width: 300px;
  max-width: 50vw;
}

.empty-order-text {
  margin: 20px;
}

.empty-back-button {
  width: 100px;
  margin: 20px;
  font-size: 15px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .empty-order-container {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    min-height: 73.2vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (min-width: 1024px) {
  .empty-order-container {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    min-height: 73.2vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .empty-order-title {
    margin-top: 20px;
    margin-left: 60px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 20px;
  }
  .empty-order-animation {
    max-width: 30vw;
  }
  .empty-order-text {
    margin: 0 0 20px 0;
    font-size: 20px;
  }
  .empty-back-button {
    width: 100px;
    margin: 20px;
    font-size: 20px;
  }
}

.policy-modal-backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: -ms-grid;
  display: grid;
  place-items: center;
}


.policy-modal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: white;
  border: 4px solid #ffcc1d;
  height: 530px;
  width: 265px;
}

.logo {
  height: 100px;
  width: 100px;
}

.policy-title-text {
  margin-bottom: 15px;
}

.policy-content-text {
  font-size: 14px;
  padding: 5px;
}

.policy-close-button {
  margin: 5px 0 0 0;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .policy-modal-window {
    width: 350px;
    height: 590px;
  }
  .logo {
    height: 120px;
    width: 120px;
  }
  .policy-title-text,
  .policy-content-text {
    font-size: 16px;
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  .policy-modal-window {
    width: 450px;
    height: 590px;
  }
  .logo {
    height: 130px;
    width: 130px;
  }
  .policy-title-text,
  .policy-content-text {
    font-size: 18px;
    padding: 15px;
  }
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.alert-backdrop {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.alert-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  background-color: white;
  border: 8px solid #ffcc1d;
  border-radius: 45px;
  padding: 10px;
  -webkit-animation: appear 0.8s cubic-bezier(0.77, 0, 0.175, 1);
          animation: appear 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.alert-animation {
  height: 120px;
  padding-bottom: 15px;
}

.alert-title {
  font-size: 25px;
  word-break: keep-all;
}

.alert-message {
  font-size: 20px;
  word-break: keep-all;
}

.alert-ownstore-animation {
  height: 180px;
}

.alert-ownstore-title {
  font-size: 16px;
  text-align: center;
  word-break: keep-all;
  margin-bottom: 10px;
}

.alert-ownstore-message {
  font-size: 12px;
  word-break: keep-all;
  text-align: center;
}

.alert-ownstore-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 10px;
}

.alert-ownstore-donation-button:hover {
  color: #ffcc1d;
  -webkit-box-shadow: gray 4px 4px 4px;
          box-shadow: gray 4px 4px 4px;
}

.alert-ownstore-donation-button:before, .alert-ownstore-donation-button:after {
  content: '';
  position: absolute;
  width: 0;
  -webkit-transition: ease all;
  transition: ease all;
}

.alert-ownstore-donation-button:hover:before, .alert-ownstore-donation-button:hover:after {
  width: 100%;
  -webkit-transition: ease all;
  transition: ease all;
}

.alert-ownstore-donation-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .alert-window {
    width: 340px;
    padding: 15px;
  }
  .alert-animation {
    height: 160px;
  }
  .alert-message {
    font-size: 30px;
  }
  .alert-ownstore-animation {
    height: 280px;
  }
  .alert-ownstore-title {
    font-size: 22px;
  }
  .alert-ownstore-message {
    font-size: 18px;
  }
  .alert-ownstore-donation-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (min-width: 1024px) {
  .alert-window {
    width: 440px;
    padding: 30px;
  }
  .alert-animation {
    height: 200px;
  }
  .alert-message {
    font-size: 35px;
  }
  .alert-window {
    width: 340px;
    padding: 15px;
  }
  .alert-animation {
    height: 160px;
  }
  .alert-message {
    font-size: 30px;
  }
  .alert-ownstore-animation {
    height: 380px;
  }
  .alert-ownstore-title {
    font-size: 22px;
  }
  .alert-ownstore-message {
    font-size: 18px;
  }
  .alert-ownstore-donation-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.loading-backdrop {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.loading-animation {
  height: 120px;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .loading-animation {
    height: 180px;
  }
}

@media (min-width: 1024px) {
  .loading-animation {
    height: 220px;
  }
}
/*# sourceMappingURL=App.css.map */