/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30px;
  background-color: #f7f1e3;
}

.logo {
  width: 60px;
  height: 50px;
  margin-bottom: 2px;
}

.footer-our-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-title-text {
  font-weight: bolder;
  font-size: 5px;
  margin-bottom: 5px;
}

.footer-text {
  font-size: 12px;
}

.footer-copyright-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  background-color: #f7f1e3;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  background-color: #f7f1e3;
  padding: 0 15px 20px 60px;
  text-align: end;
}

@media (min-width: 300px) and (max-width: 757px) {
  .footer-container {
    display: none;
  }
  .footer-copyright {
    display: none;
  }
}

@media (min-width: 758px) and (max-width: 1023px) {
  .footer-title-text {
    font-size: 20px;
  }
  .footer-text {
    font-size: 16px;
  }
  .footer-copyright {
    font: 14px;
  }
}

@media (min-width: 1024px) {
  .footer-title-text {
    font-size: 30px;
  }
  .footer-text {
    font-size: 18px;
  }
  .footer-copyright {
    font: 15px;
  }
}

.sidebar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 65px;
  left: 1;
  bottom: 0;
  right: 0;
  width: 220px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 30px 0 0 30px;
  background-color: white;
  -webkit-box-shadow: gray 3px 3px 3px 3px;
          box-shadow: gray 3px 3px 3px 3px;
  z-index: 999;
}

.sidebar-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  font-size: 25px;
  cursor: pointer;
}

.sidebar-icon {
  margin-right: 10px;
  font-size: 30px;
}

.sidebar-logo {
  width: 100px;
  height: 80px;
  cursor: -webkit-grab;
  cursor: grab;
}

@media (min-width: 300px) and (max-width: 757px) {
  .sidebar-container {
    width: 120px;
  }
  .sidebar-menu-container {
    font-size: 12px;
  }
  .sidebar-icon {
    font-size: 20px;
  }
  .sidebar-logo {
    width: 50px;
    height: 40px;
  }
}

@media (min-width: 758px) and (max-width: 1023px) {
  .sidebar-container {
    width: 150px;
  }
  .sidebar-menu-container {
    font-size: 16px;
  }
  .sidebar-icon {
    font-size: 25px;
  }
  .sidebar-logo {
    width: 80px;
    height: 60px;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
}

.header-logo {
  height: 50px;
  margin: 5px;
}

.fas {
  font-size: 45px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
}

.fas:hover {
  opacity: 70%;
}

@media (min-width: 300px) and (max-width: 757px) {
  .header-container {
    display: none;
  }
}
/*# sourceMappingURL=App.css.map */