body {
  line-height: 1;
  font-family: NotoSansKR-Regular, NotoSansKR-Medium, NotoSansKR-Bold, NotoSansKR-Light, NotoSansKR-Thin,
    NotoSansKR-Black;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.gm-style iframe + div {
  border: none !important;
}

div {
  word-break: keep-all;
}

button {
  padding-top: 3px;
  width: 230px;
  margin-top: 4px;
  box-shadow: gray 4px 4px 4px;
  border-radius: 7px;
  transition: 120ms ease;
  background-color: white;
  cursor: pointer;

  &:hover {
    box-shadow: gray 6px 6px 6px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    transition: ease all;
  }

  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: ease all;
  }

  &:active {
    box-shadow: none;
  }
}

@import '../styles/mixin/Footer';
@import '../styles/mixin/Header';
@import '../styles/components/Underbar/Underbar';
@import '../styles/pages/NotFound';
@import '../styles/components/Login/LoginModal';
@import '../styles/components/Login/Policy';
@import '../styles/mixin/Alert';
@import '../styles/mixin/Loading';

@font-face {
  font-family: 'NotoSansKR-Regular';
  src: url('../fonts/NotoSansKR-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR-Medium';
  src: url('../fonts/NotoSansKR-Medium.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR-Bold';
  src: url('../fonts/NotoSansKR-Bold.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR-Light';
  src: url('../fonts/NotoSansKR-Light.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR-Thin';
  src: url('../fonts/NotoSansKR-Thin.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansKR-Black';
  src: url('../fonts/NotoSansKR-Black.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}
