@import '../../mixin/mixin';

.signup-modal-backdrop {
  position: fixed;
  z-index: 997;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}

.signup-modal-window {
  position: absolute;
  background-color: white;
  border: 4px solid #ffcc1d;
  height: 535px;
  width: 265px;
  padding: 10px 0 2px 12px;
}

.signup-info-container {
  z-index: 999;
}

.signup-logo {
  height: 35px;
}

.signup-title-text {
  margin: 15px 0 5px 0;
  font-weight: bolder;
}

.signup-input-container {
  font-size: 15px;
}

.signup-text {
  padding-top: 10px;
}

.signup-input {
  font-size: 13px;
  border: 2px solid;
  border-radius: 5px;
  transition: 100ms ease all;
  height: 20px;
  padding: 2px 0 2px 8px;
  margin-top: 4px;

  &:focus {
    border: 2px solid #ffcc1d;
    outline: none;
  }
}

.signup-validation-message {
  margin: 5px;
  font-size: 12px;
  color: gray;
  word-break: keep-all;
}

.signup-validation-ok {
  margin: 5px;
  font-size: 12px;
  color: green;
  word-break: keep-all;
}

.signup-validation-error {
  margin: 5px;
  font-size: 12px;
  color: red;
  word-break: keep-all;
}

.validation-button {
  font-size: 10px;
  height: 25px;
  width: 80px;
  margin-left: 10px;
}

.signup-button-container {
  display: flex;
  justify-content: space-between;
}

.signup-policy-button {
  margin-right: 30px;
  margin-left: 10px;
  transition: 120ms ease all;
}

.signup-goback-button {
  margin-right: 30px;
  transition: 120ms ease all;

  &:hover {
    background-color: #f90716;
    color: white;
  }
}

.signup-modal-img {
  height: 215px;
}

@include mobile {
  .signup-modal-img {
    display: none;
  }
}

@include tablet {
  .signup-modal-window {
    display: flex;
    align-items: center;
    height: 810px;
    width: 700px;
  }

  .signup-info-container {
    margin-bottom: 10px;
  }

  .signup-logo {
    height: 60px;
  }

  .signup-title-text {
    font-size: 32px;
  }

  .signup-input-container {
    font-size: 23px;
  }

  .signup-text {
    font-size: 30px;
  }

  .signup-input {
    height: 30px;
    width: 220px;
    font-size: 18px;
  }

  .signup-validation-message,
  .signup-validation-error,
  .signup-validation-ok {
    font-size: 14px;
  }

  .validation-button {
    font-size: 15px;
    height: 30px;
    width: 100px;
  }

  .validation-email-button {
    height: 30px;
    width: 100px;
    font-size: 16px;
  }

  button {
    width: 80px;
    margin: 10px;
    font-size: 16px;
  }

  .signup-modal-img {
    height: 630px;
    position: absolute;
    left: 125px;
    top: 105px;
    z-index: 998;
    opacity: 0.6;
  }
}

@include desktop {
  .signup-modal-window {
    display: flex;
    align-items: center;
    height: 790px;
    width: 1000px;
  }

  .signup-info-container {
    margin-bottom: 10px;
  }

  .signup-logo {
    height: 60px;
  }

  .signup-title-text {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .signup-input-container {
    font-size: 23px;
  }

  .signup-text {
    font-size: 30px;
    margin-bottom: 12px;
  }

  .signup-input {
    height: 30px;
    width: 220px;
    font-size: 18px;
  }

  .signup-validation-message,
  .signup-validation-error,
  .signup-validation-ok {
    font-size: 14px;
  }

  .validation-email-button {
    height: 30px;
    width: 100px;
    font-size: 16px;
  }

  .validation-button {
    font-size: 18px;
    height: 35px;
    width: 120px;
  }

  button {
    width: 80px;
    margin: 10px;
    font-size: 16px;
  }

  .signup-modal-img {
    height: 830px;
    position: absolute;
    left: 225px;
    top: 115px;
    z-index: 998;
    opacity: 0.8;
  }
}
